<div class="row">
    <div class="col-sm">
        <h2>Add carer</h2>
        <button routerLink="/admin/carers" class="btn btn-success right btn-nav">Back</button>
    </div>
</div>
<br>

<div class="row">
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12"><h3>Carer personal details</h3></div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="formUtils.handleValidationStateClass(form, 'email')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'email', messages) }} </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone number" formControlName="phone_number" [ngClass]="formUtils.handleValidationStateClass(form, 'phone_number')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'phone_number', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="formUtils.handleValidationStateClass(form, 'password')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'password', messages) }} </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm password" formControlName="password_confirm" [ngClass]="formUtils.handleValidationStateClass(form, 'password_confirm')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'password_confirm', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name (as it appears on passport)" formControlName="first_name" [ngClass]="formUtils.handleValidationStateClass(form, 'first_name')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'first_name', messages) }} </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Middle names (as it appears on passport)" formControlName="middle_name" [ngClass]="formUtils.handleValidationStateClass(form, 'middle_name')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'middle_name', messages) }} </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Surname (as it appears on passport)" formControlName="surname" [ngClass]="formUtils.handleValidationStateClass(form, 'surname')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'surname', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Carer postcode" id="postcode" name="postcode" formControlName="postal_code" [ngClass]="formUtils.handleValidationStateClass(form, 'postal_code')">
                        <app-address-lookup [search]="form.get('postal_code')" (addressFound)="onAddressFound($event)"></app-address-lookup>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'postal_code', messages) }} </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <p-calendar formControlName="date_of_birth" [showIcon]="true" [maxDate]="adultDate" placeholder="Date of birth" [defaultDate]="adultDate" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'date_of_birth', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Carer name / Company name" id="company" name="company" formControlName="company" [ngClass]="formUtils.handleValidationStateClass(form, 'company')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'company', messages) }} </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address line 1" id="line_one" name="line_one" formControlName="address_line_1" [ngClass]="formUtils.handleValidationStateClass(form, 'address_line_1')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'address_line_1', messages) }} </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address line 2" id="line_two" name="line_two" formControlName="address_line_2" [ngClass]="formUtils.handleValidationStateClass(form, 'address_line_2')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'address_line_2', messages) }} </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Town / City" id="city" name="city" formControlName="city" [ngClass]="formUtils.handleValidationStateClass(form, 'city')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'city', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Gender</label>
                        <select formControlName="gender" placeholder="Gender" class="form-control">
                            <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <!--roles-->
            <div class="row">
                <div class="col-12">
                    <h4>Carer jobs</h4>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox" *ngFor="let role of form.get('eligible_roles')['controls']; let i = index">
                            <input type="checkbox" class="custom-control-input" id="jobRole_{{i}}" [formControl]="role">
                            <label class="custom-control-label" for="jobRole_{{i}}">{{roles[i]}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!--references-->
            <div class="row">
                <div class="col-6">
                    <h4>Carer references <span (click)="onReferenceControlAdd()" class="gj-cursor-pointer"><i class="fa fa-plus"></i></span></h4>
                </div>
            </div>
            <div formArrayName="references">
                <div *ngFor="let control of form.get('references')['controls']; let i = index" [formGroupName]="i" class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input formControlName="name" type="text" class="form-control" placeholder="Reference name" [ngClass]="formUtils.handleValidationStateClass(form.get('references').controls[i], 'name')">
                            <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form.get('references').controls[i], 'name', referenceMessages) }} </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <select formControlName="type" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form.get('references').controls[i], 'type')">
                                <option value="Professional">Professional</option>
                                <option value="Personal">Personal</option>
                            </select>
                            <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form.get('references').controls[i], 'type', referenceMessages) }} </span>
                        </div>
                    </div>
                    <div class="col-1">
                        <span (click)="onRemoveReferenceControl(i)" class="big-icon gj-cursor-pointer"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <br>

            <!--dbs-->
            <div class="row">
                <div class="col-4">
                    <h3>Carer DBS</h3>
                    <div class="form-group">
                        <label>DBS status</label>
                        <select formControlName="dbs_status" placeholder="Status" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'dbs_status')">
                            <option value="Clear">Clear</option>
                            <option value="Minor issues - approved">Minor issues - approved</option>
                        </select>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'dbs_status', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Reference number" formControlName="dbs_ref_number" [ngClass]="formUtils.handleValidationStateClass(form, 'dbs_ref_number')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'dbs_ref_number', messages) }} </span>
                    </div>

                    <div class="form-group">
                        <label>DBS date</label><br>
                        <p-calendar formControlName="dbs_date" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'dbs_date', messages) }} </span>
                    </div>
                </div>
            </div>
            <br>

            <!--carer joining experience-->
            <div class="row">
                <div class="col-4">
                    <h3>Carer joining experience</h3>
                    <div class="form-group">
                        <label>Number of years</label><br>
                        <input type="number" class="form-control" placeholder="Experience in years" formControlName="experience_years" [ngClass]="formUtils.handleValidationStateClass(form, 'experience_years')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'experience_years', messages) }} </span>
                    </div>

                    <div class="form-group">
                        <label>Number of months</label><br>
                        <input type="number" class="form-control" placeholder="Experience in months" formControlName="experience_months" [ngClass]="formUtils.handleValidationStateClass(form, 'experience_months')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'experience_months', messages) }} </span>
                    </div>
                </div>
            </div>
            <br>

            <!--training record-->
            <div class="row">
                <div class="col-12"><h3>Training record</h3></div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Fire safety</label><br>
                        <p-calendar formControlName="fire_safety" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'fire_safety', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Dementia</label><br>
                        <p-calendar formControlName="dementia" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'dementia', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>H&S</label><br>
                        <p-calendar formControlName="h_and_s" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'h_and_s', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>First aid awareness</label><br>
                        <p-calendar formControlName="first_aid_awareness" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'first_aid_awareness', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Safeguarding</label><br>
                        <p-calendar formControlName="safeguarding" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'safeguarding', messages) }} </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>First aid awareness nad basic life support</label><br>
                        <p-calendar formControlName="first_aid_and_basic_life_support" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'first_aid_and_basic_life_support', messages) }} </span>
                    </div>

                    <div class="form-group">
                        <label>Infection control</label><br>
                        <p-calendar formControlName="infection_control" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'infection_control', messages) }} </span>
                    </div>

                    <div class="form-group">
                        <label>Medication management</label><br>
                        <p-calendar formControlName="medication_management" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'medication_management', messages) }} </span>
                    </div>

                    <div class="form-group">
                        <label>Manual handling people</label><br>
                        <p-calendar formControlName="manual_handling_people" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'manual_handling_people', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control" placeholder="Other" formControlName="other" [ngClass]="formUtils.handleValidationStateClass(form, 'other')"></textarea>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'other', messages) }} </span>
                    </div>
                </div>
            </div>

            <!--qualifications-->
            <div class="row">
                <div class="col-6">
                    <h5>Qualifications</h5>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox" *ngFor="let qualification of form.get('qualifications')['controls']; let i = index">
                            <input type="checkbox" class="custom-control-input" id="qualification_{{i}}" [formControl]="qualification">
                            <label class="custom-control-label" for="qualification_{{i}}">{{qualifications[i]}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <button type="submit" [disabled]="!form.valid || inProgress" class="btn btn-success">Create carer</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </form>
    </div>
</div>
