.details-row {
  height: 82px;
}
.details-row-textarea {
  height: 158px;
}
.details-row-textarea-inner {
  height: 114px;
}
.form-control {
  text-align: left;
}
.details-row-file {
   min-height: 120px;
}