.fixed-wrapper
{
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    font-size: 18px;
    .wrapper-container
    {
        padding: 43px 43px 53px;
    }
    .lead-picture
    {
        max-height: 433px;
        width: auto;
    }
    .large-logo
    {
        margin-top: 100px;
        max-width: 565px;
        margin-left: 20px;
    }
    .static-content-container
    {
        padding: 0 40px 40px;
        max-width: 683px;
    }
    .section-desctiption
    {
        margin: 15px 0 20px;
    }
    hr
    {
        margin: 0;
    }
}

