<div class="fixed-wrapper">
    <div class="wrapper-container">
        <div class="row">
            <div class="col-sm-5">
                <div class="text-center">
                    <img src="./assets/images/landing-lead-picture.png" class="img-fluid lead-picture" alt="oliver-james-landing-picture">
                </div>
            </div>
            <div class="col-sm-7">
                <app-menu></app-menu>
                <div class="static-content-container">
                    <img src="./assets/images/oliver-james-large-logo.png" class="img-fluid large-logo" alt="oliver-james-logo">

                    <p>Quality temporary carers at affordable prices</p>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Enter your postcode" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
