<app-popup [title]="title" [id]="type + '_id'">
    <div class="row">
        <div class="col-12">
            <form #form="ngForm" (ngSubmit)="onLogin(form)">
                <span class="invalid-feedback">{{ error }}</span>
                <div class="form group">
                    <input type="email" placeholder="Email" ngModel name="email" class="form-control" required>
                </div>
                <div class="form group">
                    <input type="password"  placeholder="Password" ngModel name="password" class="form-control" required>
                </div>
                <span (click)="onForgotPasswordInit()" class="forgot-password-link">Forgot password?</span>

                <div class="buttons-container">
                    <button type="button" type="submit" class="btn btn-success" [disabled]="inProgress || !form.valid">OK</button>
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</app-popup>
