
<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Review your jobs then press submit</h2>
        <a routerLink="/care-home-booking/new"  class="btn btn-subnav btn-secondary left">Add more jobs</a>
    </div>
</div>
<br>

<app-review-table></app-review-table>
<br>
<app-preference-tab></app-preference-tab>
<br>
<app-general-guidance *ngIf="showGuidanceForm"></app-general-guidance>
<br>
<br>
<div class="row">
    <div class="col-md-12 col-lg-7">
        <button (click)="onSubmitBookings()" class="btn btn-success submit-bookings" [disabled]="inProgress">Submit bookings</button>
    </div>
</div>
