//success button
.btn-success {
  border-radius: 0;
  color: $white-color;
  text-align: center;
  padding: 10px;
  background: $green-color;
  border-color: $green-color;
  font-family: $main-font;
  font-weight: 500;
  width: 100%;
  &:hover {
    background: lighten($green-color, 5%);
    border-color: $green-color;
  }
  &:focus, &:active:focus, &:not([disabled]):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba($green-color, 0.5);
    background: $green-color;
    border-color: $green-color;
  }
  &.disabled, &:disabled {
    background: $green-color;
    border-color: $green-color;
  }
}

.btn-red {
  background: $dark-red;
  border-color: $dark-red;

  &:hover {
    background: lighten($dark-red, 5%);
    border-color: $dark-red;
  }

  &:focus, &:active:focus, &:not([disabled]):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba($dark-red, 0.5);
    background: $dark-red;
    border-color: $dark-red;
  }

  &.disabled, &:disabled {
    background: $dark-red;
    border-color: $dark-red;
  }
}

//secondary button
.btn-secondary {
  background: $grey-brown-color;
  border-color: $grey-brown-color;
  font-family: $main-font;
  font-weight: 500;
  width: 100%;
  border-radius: 0;
  color: $white-color;
  text-align: center;
  padding: 10px;

}

.btn-warn {
  border-radius: 0;
  color: $white-color;
  text-align: center;
  padding: 10px;
  background: $yellow-color;
  border-color: $yellow-color;
  font-family: $main-font;
  font-weight: 500;
  width: 100%;
  &:hover {
    background: lighten($yellow-color, 5%);
    border-color: $yellow-color;
  }
  &:focus, &:active:focus, &:not([disabled]):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba($yellow-color, 0.5);
    background: $yellow-color;
    border-color: $yellow-color;
  }
  &.disabled, &:disabled {
    background: $yellow-color;

  }
}


//outline success
.btn-outline-success {
  border-radius: 0;
  color: $green-color;
  text-align: center;
  padding: 10px;
  background: $white-color;
  border: 2px solid $green-color;
  font-family: $main-font;
  font-weight: 500;
  width: 100%;
  &:hover {
    background: darken($white-color, 5%);
    border: 2px solid $green-color;
    color: $green-color;
  }
  &:focus, &:active:focus, &:not([disabled]):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba($green-color, 0.5);
    background: $white-color;
    border: 2px solid $green-color;
  }
}

button {
  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.btn-subnav {
  width: 170px;
}

.btn-popup {
  font-size: 12px;
  margin-top: 10px;
}

.div-actions {
  width: 100%;
  margin-top: 30px;
  margin-bottom: -15px;
}

.btn-actions {
  width: 47%;
  margin-right: 2%;
}

.btn-right {
  float: right;
  margin-right: 0;
}

.btn-nav {
  width: 120px;
  margin-top: -50px;
}

.btn-small {
  padding: 5px;
  margin-top: 31px;
}

