.calendar-day {
  width: 14.28%;
  height: 90px;
  float: left;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid $ultra-light-grey;
  border-right: 1px solid $ultra-light-grey;

  .day-number {
    position: absolute;
    top: 35px;
    right: 5px;
  }

  .day-events {
    position: absolute;
    bottom: 0px;
    .single-event {
      width: 100%;
      float: left;
      font-size: 12px;
    }
    .job {
      color: $green-color;
    }
    .pre-booked-job {
      color: $yellow-color;
    }
  }

  .calendar-popup {
    position: absolute;
    z-index: 1000;
    top: 10px;
    height: 295px;
    width: 285px;
    background-color: $white-color;
    border: 1px solid $ultra-light-grey;
    cursor: auto;

    .header {
      float: left;
      width: 100%;
      height: 30px;
      background-color: $green-color;
      color: $white-color;
      padding: 4px;

      .exit {
        float: right;
        padding-right: 3px;
        cursor: pointer;
      }
    }

    .popup-content {
      padding: 20px;
      margin-top: 15px;
    }

    .books-list {
      list-style-type: none;
      padding: 0;
      li {
        border-bottom: 1px solid $ultra-light-grey;
        height: 35px;
        padding: 6px;
      }
    }

    .list-button {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 2px;
    }
  }

  .to-left {
    right: 10px;
  }

  .to-right {
    left: 10px;
  }
}

.past-day {
  background-color: $ultra-light-grey;
}

.day-label {
  width: 14.28%;
  height: 35px;
  float: left;
  background-color: $green-color;
  padding: 6px;
  span {
    color: white;
    padding: 2px 5px 0px 5px;
  }
}

.month-label-row {
  width: 100%;
  height: 35px;
  float: left;

  .calendar-instruction {
    color: $light-grey-color;
    font-size: 20px;
  }

  .month-label {
    color: $black-color;
    font-size: 22px;
    font-weight: 500;
    float: left;
  }
}

.month-label2 {
  border-bottom: 1px solid $ultra-light-grey;
  span {
    color: $black-color;
    font-size: 22px;
    font-weight: 500;
  }
}