.calendar-day {
  width: 14.28%;
  height: 90px;
  float: left;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;

  .day-number {
    position: absolute;
    top: 35px;
    right: 5px;
  }
}

.day-label {
  width: 14.28%;
  height: 35px;
  float: left;
  background-color: $green-color;
  padding: 6px;
  span {
    color: white;
    padding: 2px 5px 0px 5px;
  }
}

.month-label-row {
  width: 100%;
  height: 35px;

  .calendar-instruction {
    color: $light-grey-color;
    font-size: 20px;
  }

  .month-label {
    color: $black-color;
    float: left !important;
    font-size: 22px;
    font-weight: 500;
  }
}

.month-label2 {
  border-bottom: 1px solid lightgray;
  margin-top: 300px;
  span {
    color: $black-color;
    font-size: 22px;
    font-weight: 500;
  }
}