<div class="calendar-popup carer-popup text-center">
    <div class="carer-popup-row">
        {{ job.author.care_home.name }}
    </div>
    <div class="carer-popup-row">
        {{ job.author.address.stringify() }}
    </div>
    <div class="carer-popup-row">
        {{ job.start_date | datePattern: "YYYY-MM-DD" }}, {{ job.start_date | datePattern: "h:mm A" }} till {{ job.end_date | datePattern: "h:mm A" }}
    </div>
    <div class="carer-popup-row">
        Projected income to you: <span>&#163;</span>{{ job.projected_income}}
    </div>
</div>
