<div *ngIf="careHomeService?.jobDetails?.carer" class="job-details">
    <span class="details-header">Carer details</span>
    <div class="details-row tall">
        <p class="details-info">
            <div class="avatar">
                <div class="avatar-wrapper">
                    <img *ngIf="careHomeService.jobDetails.carer.carer.profile_image" [src]="getProfileImage()" class="img img responsive profile-image">
                </div>
            </div>
            <div class="info">
                <span class="float bold">{{ careHomeService?.jobDetails?.carer.carer.first_name }} {{ careHomeService?.jobDetails?.carer.carer.surname }}</span>
                <span class="float small-font"
                      *ngIf="careHomeService.jobDetails.carer.carer.reviews.count === 0">Unrated</span>
            <!--<span class="float small-font">{{ careHomeService.jobDetails.carer.carer.care_experience.years }} year(s) care experience</span>-->
            </div>
            <button class="btn-success btn-warn separate-top">Find me a different carer</button>
    </div>

    <ul>
        <li class="details-row">
            <span class="details-label">Telephone number</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.phone_number }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.dementia" class="details-row">
            <span class="details-label">Dementia</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.dementia | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.fire_safety" class="details-row">
            <span class="details-label">Fire safety</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.fire_safety | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.first_aid_and_basic_life_support" class="details-row">
            <span class="details-label">First aid and basic life support</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.first_aid_and_basic_life_support | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.first_aid_awareness" class="details-row">
            <span class="details-label">First aid awareness</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.first_aid_awareness | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.h_and_s" class="details-row">
            <span class="details-label">H & S</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.h_and_s | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.infection_control" class="details-row">
            <span class="details-label">Infection control</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.infection_control | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.manual_handling_people" class="details-row">
            <span class="details-label">Manual handling people</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.manual_handling_people | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.medication_management" class="details-row">
            <span class="details-label">Medication managment</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.medication_management | timestampDate }}
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.carer.carer.training_record.safeguarding" class="details-row">
            <span class="details-label">Safeguarding</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.training_record.safeguarding | timestampDate }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Dbs status</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.carer.carer.dbs.status }}
            </p>
        </li>
    </ul>
</div>