<span class="section-title">Other jobs in this service</span>
<p *ngIf="jobs.length === 0">No other jobs in this service</p>
<table *ngIf="jobs.length !==0" class="custom-table text-center">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Start Date</th>
            <th>From</th>
            <th>Till</th>
            <th>Projected income for you</th>
            <th>Care home</th>
            <th>Role</th>
            <th>Job details</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobs">
            <td>{{ job.id }}</td>
            <td>{{ job.start_date | datePattern: "YYYY-MM-DD" }}</td>
            <td>{{ job.start_date | datePattern: "h:mm A" }}</td>
            <td>{{ job.end_date | datePattern: "h:mm A"}}</td>
            <td><span>&#163;</span> {{ job.projected_income }} </td>
            <td>{{ job.author.care_home.care_service_name }}</td>
            <td>{{ job.role }}</td>
            <td>
                <div class="text-center">
                    <a [routerLink]="['/carer-apply-for-job', job.id]" class="actions">See details</a>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <span *ngIf="job.conflict" class="red">Possible conflict</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
