<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">See details / accept a job</h2>
        <a routerLink="/carer-dashboard"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-4">
        <app-job-details *ngIf="job" [job]="job"></app-job-details>
    </div>
    <div class="col-lg-8">
        <app-carer-calendar></app-carer-calendar>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <app-other-jobs *ngIf="job" [jobId]="job.id"></app-other-jobs>
    </div>
</div>
