<nav class="side-menu">
    <img src="./assets/images/oliver-james-slim-logo.png" alt="logo">
    <h2>CMS</h2>
    <div class="user-section">
        <span>Logged as {{ admin.first_name }} {{ admin.surname }}</span>
        <div class="buttons-container">
            <a href="#">Edit</a>
            <a href="#" (click)="onLogout($event)">Logout</a>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="/admin/jobs/list">Jobs</a></li>
            <li><a routerLink="/admin/carers/list">Carers</a></li>
            <li><a routerLink="/admin/care-homes">Care homes</a></li>
            <li><a >Waiting list</a></li>
            <li><a>Export data</a></li>
            <li><a>Staff</a></li>
            <li><a>Parameters settings</a></li>
        </ul>
    </div>
</nav>

<section id="content-admin">
    <div class="container-fluid">
        <div class="cms-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

