<nav class="side-menu">
    <img src="./assets/images/oliver-james-slim-logo.png" alt="logo">
    <h2>CMS</h2>
    <div class="user-section">
        <span>Logged as {{ user.first_name }} {{ user.surname }}</span>
        <div class="buttons-container">
            <a href="#">Edit</a>
            <a href="#" (click)="onLogout($event)">Logout</a>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Carers</a></li>
            <li><a href="#">Care homes</a></li>
            <li><a href="#">Export data</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Parameters settings</a></li>
        </ul>
    </div>
</nav>

<section id="content-admin">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>

