<nav class="side-menu">
    <img src="./assets/images/oliver-james-slim-logo.png" alt="logo">
    <h2>CMS</h2>
    <div class="user-section">
        <span>Logged as {{ admin.first_name }} {{ admin.surname }}</span>
        <div class="buttons-container">
            <a href="#" routerLink="/admin/admins-management/edit-my-admin-account">Edit account</a><br/>
            <a href="#" routerLink="/admin/admins-management/change-my-admin-password">Change password</a><br/>
            <a href="#" (click)="onLogout($event)">Logout</a>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-circle-o"></i> Home</a></li>
            <li><a routerLink="/admin/jobs" routerLinkActive="active"><i class="fa fa-circle-o"></i> Jobs</a></li>
            <li><a routerLink="/admin/carers" routerLinkActive="active"><i class="fa fa-circle-o"></i> Carers</a></li>
            <li><a routerLink="/admin/care-homes" routerLinkActive="active"><i class="fa fa-circle-o"></i> Care homes</a></li>
            <li><a routerLink="/admin/waiting-list" routerLinkActive="active"><i class="fa fa-circle-o"></i> Waiting list</a></li>
            <li><a><i class="fa fa-circle-o"></i> Export data</a></li>
            <li><a routerLink="/admin/admins-management" routerLinkActive="active"><i class="fa fa-circle-o"></i> Staff</a></li>
            <li><a><i class="fa fa-circle-o"></i> Parameters settings</a></li>
        </ul>
    </div>
</nav>

<section id="content-admin">
    <div class="container-fluid">
        <div class="cms-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

