.cell-list {
  width: 100%;
  float: left;
}

.green {
  color: #03c88b;
}

.trash-control {
  font-size: 27px;
  float: right;
}

.array-control {
  float: left;
  width: 90%;
  margin-top: 1px;
}
.submit-button
{
    max-width: 300px;
}
