.cell-list {
  width: 100%;
  float: left;
}

.green {
  color: #03c88b;
}

.trash-control {
  font-size: 27px;
  float: right;
}

.array-control {
  float: left;
  width: 90%;
  margin-top: 1px;
}
.submit-button
{
    max-width: 300px;
}
.btn-nav
{
    width: 150px;
    margin-top: -50px;
}

button.submit
{
    max-width: 500px;
}

.table-container
{
    max-height: 385px;
    overflow: auto;
}
