<div class="row">
    <div class="col-sm">
        <h2>Staff</h2>
        <a [routerLink]="['create-admin-account']" class="btn btn-success right btn-nav btn-width">Create admin
            account</a>
        <!--<a [routerLink]="['edit-my-admin-account']" class="btn btn-success right btn-nav btn-width margin-top-0 clear-both ">Edit my account</a>-->
        <!--<a [routerLink]="['change-my-admin-password']" class="btn btn-success right btn-nav btn-width margin-top-5 clear-both ">Change-->
            <!--my password</a>-->
    </div>
</div>
<br>
<br>

<!--results-->
<div class="row">
    <div class="col-sm">
        <p *ngIf="admins.length === 0">No results</p>
        <div *ngIf="admins.length !== 0">
            <table *ngIf="admins?.length !== 0" class="custom-table text-center">
                <thead>
                <tr>
                    <th>Admin ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>E-mail</th>
                    <th>Created</th>
                    <th>Change password</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let admin of admins">
                    <td>{{ admin._id }}</td>
                    <td>{{ admin.first_name }} {{ admin.surname }}</td>
                    <td class="text-nowrap">{{ getUserFriendlyRole(admin.role) }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.created ? (admin.created| datePattern: "YYYY-MM-DD") : "" }}</td>
                    <td>
                        <div class="text-center">
                            <a *ngIf="authService.getCurrentRole() == 3 || ((authService.getCurrentRole() == 2) && (admin.role != 'ADMIN_DIRECTOR'))" [routerLink]="['change-admin-password',admin._id]" class="actions">Change password</a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a [routerLink]="['edit-admin-account',admin._id]" class="actions">Edit account</a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a (click)="deleteAccountFromList(admin._id);" *ngIf="authService.getCurrentRole() == 3 || ((authService.getCurrentRole() == 2) && (admin.role != 'ADMIN_DIRECTOR'))" class="actions actionsLink">Delete
                                account</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages"
                            [currentPage]="page"></app-pagination>
        </div>
    </div>
</div>
<!--cancel job handle-->
<app-delete-account
        *ngIf="showDeleteAccountDialog"
        type="delete_account"
        [title]="'Delete admin account'"
        [listAdminId]="listAdminId"
        [AdminId]="adminId"
        (reload)="showDeleteAccountDialog = false; onReload()"
        (closed)="showDeleteAccountDialog = false"
>
</app-delete-account>