.sort-container
{
  display: block;
  float: right;
  width: 10px;
  vertical-align: middle;
}

.sort-label
{
  display: block;
  margin-top: 10px;
  margin-right: 20px;
  width: auto;
}
.btn-nav
{
  width: 150px;
  margin-top: -50px;
}
.clear-both {
  clear:both;
}
.btn-width {
  width:190px;
}
.margin-top-5 {
  margin-top:5px;
}