<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Jobs reviews</h2>
        <a routerLink="/care-home-dashboard"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>

<p *ngIf="!pendingReviews.length">No carers to review</p>
<div *ngIf="pendingReviews.length" class="row">
    <div *ngFor="let form of forms; let i = index" class="col-md-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form, pendingReviews[i]._id)">
            <br>
            <br>
            <div class="carer-header text-center">
                <div class="avatar">
                    <div class="avatar-wrapper">
                        <img [src]="getProfileImage(pendingReviews[i].carer.carer)" class="img img-responsive profile-image">
                    </div>
                    <span class="carer-name">{{ pendingReviews[i].carer.carer.first_name }} {{ pendingReviews[i].carer.carer.surname }}</span>
                </div>
            </div>
            <div class="job-info">
                <table class="custom-table text-center">
                    <thead>
                        <th>Job ID</th>
                        <th>Start Date</th>
                        <th>From</th>
                        <th>Till</th>
                    </thead>
                    <tbody>
                        <td class="left-td">{{ pendingReviews[i]._id }}</td>
                        <td>{{ pendingReviews[i].start_date | timestampDate }}</td>
                        <td>{{ pendingReviews[i].start_date | timestampHour }}</td>
                        <td>{{ pendingReviews[i].end_date | timestampHour }}</td>
                    </tbody>
                </table>
            </div>
            <br>

            <!--rating fields-->
            <div class="text-center">
                <span class="label">Your review of {{ pendingReviews[i].carer.carer.first_name }}</span>
                <p>
                    <ngb-rating formControlName="rate" class="rating" [max]="5"></ngb-rating>
                </p>
                <textarea formControlName="description" class="form-control" rows="5"></textarea>
                <button type="button"(click)="openConfirmationPopup(pendingReviews[i].carer._id)" class="btn btn-success btn-red">Block this carer from future jobs</button>
                <button type="submit"[disabled]="!form.valid || inProgress" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>

<app-block-carer-confirmation *ngIf="showBlockConfirmation" [type]="'block-confirmation'" [carerId]="currentCarerId" (closed)="showBlockConfirmation = false"></app-block-carer-confirmation>
