@import "variables";
@import "placeholders";

#main-menu
{
    a.nav-link
    {
        padding: 0px 28px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        color: $grey-brown-color;
        @extend %main-transition;
        &:hover, &.active
        {
            color: $green-color;
            .bottom-line
            {
                background: $green-color;
            }
        }
    }
    .bottom-line
    {
        width: 45px;
        height: 4px;
        background: $grey-brown-color;
        margin: 10px auto 0;
        @extend %main-transition;
    }
}
