<app-care-home-booking-header
        navigationTitle="Back to my home"
        navigationRoute="/care-home-dashboard"
        mainTitle="Submited"
></app-care-home-booking-header>
<br>
<div class="row">
    <div class="col-sm">
        <p>
            We have contacted the following carers in order of suitability, please click ‘cancel’ for anyone you definitely don’t want
            Alternatively, you can just close your browser and see if you like the carer who accepts your job
            We will email you when a carer accepts your job and that carer will call you
            Once a job is accepted, you may cancel up to 24 hours before it is due to start, free-of-charge.
            Thereafter, if you cancel a job and the carer accepted your job more than 2 hours before your cancellation, you will be charged 50% of the job
        </p>
    </div>
</div>
<br>

<div *ngIf="carersToNotify" class="row">
    <div class="col-sm">
        <p *ngIf="carersToNotify.length === 0">No carers to notify</p>
        <table *ngIf="carersToNotify.length !==0" class="custom-table text-center">
            <thead>
            <tr>
                <th class="image-cell"></th>
                <th>Name</th>
                <th>Current carer rating</th>
                <th>Experience</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td *ngIf="priorityCarers.length !== 0" class="info-row" colspan="5">Priority carers</td>
            </tr>
            <tr *ngFor="let carer of priorityCarers; let i = index">
                <td>
                    <div class="text-center">
                        <div class="avatar">
                            <div class="avatar-wrapper">
                                <img [src]="getProfileImage(carer)" class="img img responsive profile-image">
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ carer.carer.first_name }} {{ carer.carer.surname }}</td>
                <td>
                    <div *ngIf="carer.carer.reviews.count === 0">No reviews so far</div>
                    <div *ngIf="carer.carer.reviews.count !== 0">
                        {{ carer.carer.reviews.average }} from {{ carer.carer.reviews.count }} reviews
                    </div>
                </td>
                <td>
                    <span *ngIf="carer.carer.care_experience.years !== 0">{{ carer.carer.care_experience.years }}
                    <span *ngIf="carer.carer.care_experience.years === 1"> yr</span><span *ngIf="carer.carer.care_experience.years !== 1">yrs</span>
                    </span>
                    <span *ngIf="carer.carer.care_experience.months !== 0">{{ carer.carer.care_experience.months }}
                        <span *ngIf="carer.carer.care_experience.months !== 1">months</span>
                    </span>
                </td>
                <td>
                    <div class="text-center">
                            <span
                                    (click)="cancelCarerNotification(carer._id, i)"
                                    class="actions"
                            >Cancel</span>
                    </div>
                </td>
            </tr>

            <tr>
                <td *ngIf="priorityCarers.length !== 0" class="info-row" colspan="5">Other carers we will contact after 1 hour</td>
            </tr>
            <tr *ngFor="let carer of nonPriorityCarers; let i = index">
                <td>
                    <div class="text-center">
                        <div class="avatar">
                            <div class="avatar-wrapper">
                                <img [src]="getProfileImage(carer)" class="img img responsive profile-image">
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ carer.carer.first_name }} {{ carer.carer.surname }}</td>
                <td>
                    <div *ngIf="carer.carer.reviews.count === 0">No reviews so far</div>
                    <div *ngIf="carer.carer.reviews.count !== 0">
                        {{ carer.carer.reviews.average }} from {{ carer.carer.reviews.count }} reviews
                    </div>
                </td>
                <td>
                    <span *ngIf="carer.carer.care_experience.years !== 0">{{ carer.carer.care_experience.years }}
                    <span *ngIf="carer.carer.care_experience.years === 1"> yr</span><span *ngIf="carer.carer.care_experience.years !== 1">yrs</span>
                    </span>
                    <span *ngIf="carer.carer.care_experience.months !== 0">{{ carer.carer.care_experience.months }}
                        <span *ngIf="carer.carer.care_experience.months !== 1">months</span>
                    </span>
                </td>
                <td>
                    <div class="text-center">
                            <span
                                    (click)="cancelCarerNotification(carer._id, i)"
                                    class="actions"
                            >Cancel</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li
                            *ngFor="let p of pages"
                            [ngClass]="{'active': page === p + 1}"
                            class="page-item">
                        <a
                                (click)="onPageChange(p + 1)"
                                class="page-link">{{ p + 1 }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>