<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Submitted</h2>
        <a routerLink="/care-home-dashboard"  class="btn btn-subnav btn-secondary left">Back to my home</a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm">
        <p>
            We have contacted the following carers in order of suitability, please click ‘cancel’ for anyone you definitely don’t want?
            Alternatively, you can just close your browser and see if you like the carer who accepts your job.
            We will email you when a carer accepts your job and that carer will call you once the job is accepted (PLEASE CHECK YOUR SPAM FOLDER TOO).
            You may cancel up to 24 hours before it is due to start, free-of-charge.
            Thereafter, if you cancel a job and it has been more than 2 hours since it was accepted, you will be charged 50% of the job fee.
        </p>
    </div>
</div>
<br>

<div *ngIf="carersToNotify" class="row">
    <div class="col-sm">
        <p *ngIf="carersToNotify.length === 0">No carers to notify</p>

        <div *ngIf="carersToNotify.length !==0">
            <table  class="custom-table text-center">
                <thead>
                    <tr>
                        <th class="image-cell"></th>
                        <th>Name</th>
                        <th>Current carer rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <!--priority carers-->
                    <tr>
                        <td *ngIf="priorityCarers.length !== 0" class="info-row" colspan="5">Priority carers</td>
                    </tr>
                    <tr *ngFor="let carer of priorityCarers; let i = index">
                        <td>
                            <div class="text-center">
                                <div class="avatar">
                                    <div class="avatar-wrapper">
                                        <img [src]="getProfileImage(carer)" class="img img responsive profile-image">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ carer.carer.first_name }} {{ carer.carer.surname }}</td>
                        <td>
                            <div *ngIf="carer.carer.reviews.count === 0">No reviews so far</div>
                            <div *ngIf="carer.carer.reviews.count !== 0">
                                {{ carer.carer.reviews.average }} from {{ carer.carer.reviews.count }} reviews
                            </div>
                        </td>
                        <td>
                        <td>
                            <div class="text-center">
                                <span
                                    (click)="cancelCarerNotification(carer._id, i)"
                                    class="actions"
                                >Cancel</span>
                            </div>
                        </td>
                    </tr>

                    <!--other carers-->
                    <tr>
                        <td *ngIf="priorityCarers.length !== 0" class="info-row" colspan="5">Other carers we will contact after 1 hour</td>
                    </tr>
                    <tr *ngFor="let carer of nonPriorityCarers; let i = index">
                        <td>
                            <div class="text-center">
                                <div class="avatar">
                                    <div class="avatar-wrapper">
                                        <img [src]="getProfileImage(carer)" class="img img responsive profile-image">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ carer.carer.first_name }} {{ carer.carer.surname }}</td>
                        <td>
                            <div *ngIf="carer.carer.reviews.count === 0">No reviews so far</div>
                            <div *ngIf="carer.carer.reviews.count !== 0">
                                {{ carer.carer.reviews.average }} from {{ carer.carer.reviews.count }} reviews
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <span (click)="cancelCarerNotification(carer._id, i)" class="actions">Cancel</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
        </div>
    </div>
</div>
