.grey-div {
  background-color: #9b9b9b;
  height: 40px;
  float: left;
  padding: 8px;
  width: 50%;
}

.yellow-div {
  background-color: #f5a623;
  color: #FFFFFF;
  height: 40px;
  float: left;
  padding: 8px;
  width: 40%;
}

.green-div {
  height: 40px;
  padding: 8px;
  float: left;
  color: #FFFFFF;
  background-color: #03c88b;
  width: 30%;
}

.white-div {
  height: 40px;
  float: left;
  border: 1px solid #d3d3d3;
  color: #9b9b9b;
  width: 50%;
}