<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Paid / submitted jobs</h2>
        <a routerLink="/carer-dashboard"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>

<!--summary-->
<!--<div class="row text-center">-->
    <!--<div class="col-sm-10">-->
        <!--<div class="grey-div">Total earned in last 30 days</div>-->
        <!--<div class="yellow-div"><span>&#163;</span> 315</div>-->
    <!--</div>-->
<!--</div>-->
<!--<br>-->

<!--filters-->
<div [formGroup]="form" class="row text-center">
    <div class="col-sm-5">
        <div class="green-div">
            From
        </div>
        <div class="white-div">
            <input type="text" class="form-control" id="from" formControlName="from">
        </div>
    </div>

    <div class="col-sm-5">
        <div class="green-div">
            To
        </div>
        <div class="white-div">
            <input type="text" class="form-control" id="to" formControlName="to">
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm">
        <p *ngIf="jobs.length === 0">No submitted jobs so far</p>
        <div *ngIf="jobs.length !== 0">
            <table class="custom-table text-center">
                <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Start date</th>
                        <th>From</th>
                        <th>Till</th>
                        <th>Projected income</th>
                        <th>See details</th>
                        <th>Care home</th>
                        <th>Job status</th>
                        <th>Pay status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of jobs">
                        <td>{{ job.id }}</td>
                        <td>{{ job.start_date | datePattern: "YYYY-MM-DD" }}</td>
                        <td>{{ job.start_date | datePattern: "h:mm A" }}</td>
                        <td>{{ job.end_date | datePattern: "h:mm A"}}</td>
                        <td><span>&#163;</span>{{ job.projected_income }} </td>
                        <td><span (click)="navigateToDetails(job)" class="green gj-cursor-pointer">See pay details</span></td>
                        <td>{{ job.author.care_home.care_service_name }}</td>
                        <td>{{ job.status.replace("_", " ") | capitalize }}</td>
                        <td>{{ job.payment.status.replace("_", " ") | capitalize }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>
        <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
    </div>
</div>
<br><br>


