<app-care-home-booking-header
        navigationTitle="Back"
        navigationRoute="/carer-dashboard"
        mainTitle="Paid / submitted jobs"
></app-care-home-booking-header>
<br>

<div class="row text-center">
    <div class="col-sm-10">
        <div class="grey-div">
            Total earned in last 30 days
        </div>
        <div class="yellow-div">
            315
        </div>
    </div>
</div>
<br>
<div [formGroup]="form" class="row text-center">
    <div class="col-sm-5">
        <div class="green-div">
            From
        </div>
        <div class="white-div">
            <input type="text" class="form-control" id="from" formControlName="from">
        </div>
    </div>

    <div class="col-sm-5">
        <div class="green-div">
            To
        </div>
        <div class="white-div">
            <input type="text" class="form-control" id="to" formControlName="to">
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm">
        <p *ngIf="submittedJobs.length === 0">No submitted jobs so far</p>
        <table *ngIf="submittedJobs.length !== 0" class="custom-table text-center">
            <thead>
            <tr>
                <th>Job Id</th>
                <th>Start date</th>
                <th>From</th>
                <th>Till</th>
                <th>Projected income</th>
                <th>See details</th>
                <th>Care home</th>
                <th>Job status</th>
                <th>Pay status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let job of submittedJobs">
                <td>{{ job._id }}</td>
                <td>{{ job.start_date | timestampDate }}</td>
                <td>{{ job.start_date | timestampHour }}</td>
                <td>{{ job.end_date | timestampHour }}</td>
                <td>{{ job.projected_income }} <span>&#163;</span></td>
                <td><span (click)="navigateToDetails(job)" class="green gj-cursor-pointer">See pay details</span></td>
                <td>{{ job.author.care_home.care_service_name }}</td>
                <td>{{ job.status | status }}</td>
                <td>{{ job.payment.status | status }}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <div  class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li
                            *ngFor="let p of pages"
                            [ngClass]="{'active': page === p + 1}"
                            class="page-item">
                        <a
                                (click)="onPaginationChange(p + 1)"
                                class="page-link">{{ p + 1 }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<br><br>


