li
{
    margin-bottom: 20px;
    font-size: 18px;
}

button
{
    width: 30%;
    margin: 30px auto 10px;
    max-width: 380px;
}
form
{
    margin-top: 30px;
    .custom-control
    {
        margin-left: 20px;
        margin-bottom: 15px;
        font-weight: 500;
        label
        {
            cursor: pointer;
        }
    }
}

.green {
    color: #03c88b;
}
