<app-popup [title]="title" [id]="type + '_id'" [showLogo]="false">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img [src]="getPictureUrl()" class="img img-responsive">
            </div>
            <br>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div>
                    <label>Select new profile image</label>
                    <input type="text" class="form-control" class="d-none" formControlName="profile_image">
                    <input type="file" (change)="onFileChange($event)" #fileInput>
                    <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'profile_image', messages) }} </span>
                </div>
                <br>
                <div class="buttons-container">
                    <button type="submit" class="btn btn-success" [disabled]="!form.valid || inProgress">
                        Change profile image <span *ngIf="inProgress"><i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</app-popup>
