<app-popup [title]="title" [id]="type + '_id'" [showLogo]="false">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img [src]="getPictureUrl()" class="img img-responsive">
            </div>
            <br>
            <div>
                <label>Select new profile image</label>
                <input type="file"
                       id="file"
                       class="form-control floor-plan"
                       (change)="handleFileInput($event.target.files)">
                <span *ngFor="let error of errors" class="red full-width">{{ error }}</span>
            </div>
            <br>
            <div class="buttons-container">
                <button (click)="onPictureChange()" type="submit" class="btn btn-success"
                        [disabled]="!profilePicture || errors.length !== 0">
                    Change profile image <span *ngIf="buttonLoading"><i class="fa fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </div>
    </div>
</app-popup>
