<div (click)="$event.stopPropagation()" class="confirmation-popup"
     [ngClass]="{'to-left': direction === 'left', 'to-right': direction === 'right'}">
    <div class="header text text-center">
        <span>Important!</span>
        <span (click)="onClosePopup(); $event.stopPropagation()" class="exit">X</span>
    </div>
    <div class="popup-content">
        <div class="text-center">
            <label class="weight">Important</label>
            <p>
                You have accepted this job.
            Please call the care home to confirm on {{ carerJobService.jobDetails.author.phone_number }}.
            This will ensure they don’t fill the shift with a carer from elsewhere – avoiding confusion and ensuring you still get paid
            Ask to speak to [TEXT FROM ‘IF OUR CARER NEEDS TO CALL YOUR SERVICE]
            </p>
        </div>
        <div class="checkbox-div">
            <input (change)="onCheckBoxChange()" type="checkbox" id="confirm" class="custom-control-input">
            <label for="confirm" class="custom-control-label"></label>
            <p>I confirm that I have spoken to the care home and they have agreed to this job</p>
        </div>
        <button (click)="onConfirm(); $event.stopPropagation()" [disabled]="!confirmed" type="button" class="btn-success btn-popup">
            Ok
        </button>
    </div>
</div>