<app-care-home-booking-header
        navigationTitle="Back"
        navigationRoute="/carer-dashboard"
        mainTitle="Profile details"
></app-care-home-booking-header>
<br>
<div class="row">
    <div class="col-sm">
        <table [formGroup]="form" class="profile-table">
            <tr>
                <th class="tall">Your email address</th>
                <td class="tall relative">
                    <span class="first-row">{{ carerProfileService?.carerProfile?.email }}</span>
                    <span class="action">
                        <button (click)="showEditEmail = true" class="btn-success">Edit</button>
                    </span>
                    <span
                            *ngIf="!carerProfileService?.carerProfile?.email_verified"
                            (click)="onResendEmail()"
                            class="red second-row gj-cursor-pointer">
                        Not verified - tap to resend verification email
                    </span>
                </td>
            </tr>
            <tr>
                <th>Your Oliver James ID</th>
                <td>{{ carerProfileService?.carerProfile?._id }}</td>
            </tr>
            <tr>
                <th>Your phone number</th>
                <td>
                    <input formControlName="phone_number" type="text" class="form-control">
                    <span *ngIf="form.get('phone_number').errors?.numbers" class="red full-width">
                        Phone number can contain numbers only
                    </span>
                    <span *ngIf="form.get('phone_number').errors?.required" class="red full-width">
                        This field is required
                    </span>
                    <span *ngIf="form.get('phone_number').errors?.minlength || form.get('phone_number').errors?.maxlength" class="red full-width">
                        Phone number must contain at least 6 numbers
                    </span>
                </td>
            </tr>
            <tr>
                <th>Your First Name</th>
                <td>{{ carerProfileService?.carerProfile?.carer.first_name }}</td>
            </tr>
            <tr>
                <th>Middle Name</th>
                <td>{{ carerProfileService?.carerProfile?.carer?.middle_name }}</td>
            </tr>
            <tr>
                <th>Your Surname</th>
                <td>{{ carerProfileService?.carerProfile?.carer.surname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ carerProfileService?.carerProfile?.carer["gender"] }}</td>
            </tr>
            <tr>
                <th>Profile picture</th>
                <td class="relative tall">
                    <span class="action">
                        <button (click)="showChangeProfileImage = true" class="btn-success">Edit</button>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>
                    <input formControlName="postal_code" id="postcode" name="postcode" type="text" class="form-control">
                    <span *ngIf="form.get('postal_code').errors?.required" class="red full-width">
                        This field is required
                    </span>
                </td>
            </tr>
            <tr>
                <th>Address line 1</th>
                <td>
                    <input formControlName="address_line_1" type="text" class="form-control">
                    <span *ngIf="form.get('address_line_1').errors?.required" class="red full-width">
                        This field is required
                    </span>
                </td>
            </tr>
            <tr>
                <th>Address line 2</th>
                <td><input formControlName="address_line_2" type="text" class="form-control"></td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <input formControlName="city" type="text" class="form-control">
                    <span *ngIf="form.get('city').errors?.required" class="red full-width">
                        This field is required
                    </span>
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td class="relative tall">
                    <span class="action">
                        <button (click)="showChangePassword = true" class="btn-success">Edit</button>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Bank account details (to receive payment)</th>
                <td class="relative tall">
                    <span
                            *ngIf="carerProfileService?.carerProfile?.carer.payment_system.bank_number"
                            class="first-row"
                    >Stored {{ carerProfileService?.carerProfile?.carer.payment_system.bank_number }}</span>
                    <span
                            *ngIf="!carerProfileService?.carerProfile?.carer.payment_system.bank_number"
                            class="first-row"
                    >Account not set up</span>
                    <span class="action">
                        <button (click)="showBankAccountForm = true" class="btn-success">Edit</button>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Max job distance in miles</th>
                <td>
                    <input formControlName="max_job_distance" type="text" class="form-control">
                    <span *ngIf="form.get('max_job_distance').errors?.required" class="red full-width">
                        This field is required
                    </span>
                    <span *ngIf="form.get('max_job_distance').errors?.min" class="red full-width">
                        Value cannot be negative
                    </span>
                </td>
            </tr>
            <tr>
                <th>Eligible roles</th>
                <td>
                    <span
                            *ngFor="let role of carerProfileService?.carerProfile?.carer.eligible_roles"
                            class="separate-right"
                    >{{ role }}</span>
                     <span (click)="onRoleChange()" class="request">Request for change</span>
                </td>
            </tr>
        </table>
        <br>
        <button
                [disabled]="!form.valid"
                (click)="onUpdateProfile()"
                class="btn-success">Update profile
            <span *ngIf="buttonLoading"><i class="fa fa-spinner fa-spin"></i></span></button>
    </div>
</div>

<app-change-email
        *ngIf="showEditEmail"
        (closed)="showEditEmail = false"
        (update)="onUpdateData()"
></app-change-email>

<app-change-password
        *ngIf="showChangePassword"
        (closed)="showChangePassword = false"
></app-change-password>

<app-change-profile-image
        *ngIf="showChangeProfileImage"
        [pictureUrl]="passProfileUrl()"
        (closed)="showChangeProfileImage = false"
        (update)="onUpdateData()"
></app-change-profile-image>

<app-card-details
    *ngIf="showBankAccountForm"
    (closed)="showBankAccountForm = false"
    (reload)="onUpdateData()"
></app-card-details>
