
<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Profile details</h2>
        <a routerLink="/carer-dashboard"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm" *ngIf="form && user">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <table class="profile-table">
                <tr>
                    <th class="tall">Your email address</th>
                    <td class="tall relative">
                        <span class="first-row">{{ user.email }}</span>
                        <span class="action">
                        <button (click)="showEditEmail = true" class="btn btn-success" type="button">Edit</button>
                    </span>
                        <span *ngIf="!user.email_verified" (click)="onResendEmail()" class="red second-row gj-cursor-pointer">
                        Not verified - tap to resend verification email
                    </span>
                    </td>
                </tr>
                <tr>
                    <th>Your Oliver James ID</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Your phone number</th>
                    <td>
                        <input formControlName="phone_number" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'phone_number')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'phone_number', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Your First Name</th>
                    <td>{{ user.carer.first_name }}</td>
                </tr>
                <tr>
                    <th>Middle Name</th>
                    <td>{{ user.carer.middle_name }}</td>
                </tr>
                <tr>
                    <th>Your Surname</th>
                    <td>{{ user.carer.surname }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ user.carer.gender }}</td>
                </tr>
                <tr>
                    <th>Profile picture</th>
                    <td class="relative tall">
                    <span class="action">
                        <button (click)="showChangeProfileImage = true" class="btn btn-success" type="button">Edit</button>
                    </span>
                    </td>
                </tr>
                <tr>
                    <th>Postcode</th>
                    <td>
                        <input formControlName="postal_code" autocomplete="off" id="postcode" name="postcode" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'postal_code')">
                        <app-address-lookup [search]="form.get('postal_code')" (addressFound)="onAddressFound($event)"></app-address-lookup>
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'postal_code', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Address line 1</th>
                    <td>
                        <input formControlName="address_line_1" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'postal_code')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'address_line_1', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Address line 2</th>
                    <td><input formControlName="address_line_2" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'address_line_2')"></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>
                        <input formControlName="city" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'city')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'city', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td class="relative tall">
                    <span class="action">
                        <button (click)="showChangePassword = true" class="btn btn-success" type="button">Edit</button>
                    </span>
                    </td>
                </tr>
                <tr>
                    <th>Bank account details (to receive payment)</th>
                    <td class="relative tall">
                        <span *ngIf="carerProfileService?.carerProfile?.carer.payment_system.bank_number" class="first-row">Stored {{ carerProfileService?.carerProfile?.carer.payment_system.bank_number }}</span>
                        <span *ngIf="!carerProfileService?.carerProfile?.carer.payment_system.bank_number" class="first-row">Account not set up</span>
                        <span class="action">
                        <button (click)="showBankAccountForm = true" class="btn btn-success" type="button">Edit</button>
                    </span>
                    </td>
                </tr>
                <tr>
                    <th>Max job distance in miles</th>
                    <td>
                        <input formControlName="max_job_distance" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'max_job_distance')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'max_job_distance', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Eligible roles</th>
                    <td>
                        <span>{{ user.carer.eligible_roles.join(", ") }}</span>
                        <span (click)="onRoleChange()" class="request">Request for change</span>
                    </td>
                </tr>
            </table>
            <br>
            <br>

            <div class="text-center">
                <button [disabled]="!form.valid || inProgress" class="btn btn-success submit" type="submit">Update profile
                    <span *ngIf="inProgress"><i class="fa fa-spinner fa-spin"></i></span>
                </button>
            </div>
        </form>
    </div>
</div>

<app-change-email
        *ngIf="showEditEmail"
        (closed)="showEditEmail = false"
        (update)="onUpdateData()"
></app-change-email>

<app-change-password
        *ngIf="showChangePassword"
        (closed)="showChangePassword = false"
></app-change-password>

<app-change-profile-image
        *ngIf="showChangeProfileImage"
        [pictureUrl]="getProfileUrl()"
        (closed)="showChangeProfileImage = false"
        (update)="onUpdateData()"
></app-change-profile-image>

<app-card-details
    *ngIf="showBankAccountForm"
    (closed)="showBankAccountForm = false"
    (reload)="onUpdateData()"
></app-card-details>
