
<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Notifications</h2>
        <a routerLink="/carer-dashboard"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-sm">
        <p *ngIf="notifications.length === 0">No notifications so far</p>
        <div *ngIf="notifications.length !== 0">
            <div class="row" *ngFor="let notification of notifications">
                <div class="col-sm-6 notification" >
                    <h6 [ngClass]="{'new': notification.status == 'CREATED'}">{{ notification.title }}</h6>
                    <span class="date">{{ notification.created | datePattern: "YYYY-MM-DD, h:mm A"}}</span>
                    <p>{{ notification.description }}</p>
                </div>
            </div>
            <br>
            <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
        </div>
    </div>
</div>
