<app-popup [id]="'logout'" [title]="'Logout'">
    <p class="modal-description">
        Are you sure you want to logout?
    </p>
    <div class="buttons-container">
        <button type="button" type="submit" class="btn btn-success" (click)="onLogout()">OK</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancel</button>
    </div>
</app-popup>

<div *ngIf="activated">
    <h4>What do you want to do?</h4>
    <div class="row">
        <div class="col-4">
            <a routerLink="/carer-upcoming-jobs" class="btn btn-success">See my upcoming jobs</a>
            <div class="text-center">
                <small class="text-muted text-center">{{ jobsDue }} jobs due in next 24 hours</small>
            </div>
        </div>
        <div class="col-4">
            <a routerLink="/carer-available-jobs" class="btn btn-success">See new jobs available</a>
            <div class="text-center">
                <small class="text-muted text-center">{{ newJobs > 0 ? newJobs + " new jobs available" : "All jobs currently filled"}}</small>
            </div>
        </div>
        <div class="col-4">
            <button class="btn btn-success" (click)="showLogoutPopup()">Logout</button>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-4">-->
            <!--<a routerLink="/carer-availability" class="btn btn-success">Set my availability</a>-->
        <!--</div>-->
        <div class="col-4">
            <a routerLink="/carer-paid-submitted" class="btn btn-success">See paid and submitted jobs</a>
        </div>
        <div class="col-4">
            <a routerLink="/carer-notifications" class="btn btn-success">Notifications</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h5>My upcoming jobs</h5>
        </div>
    </div>
    <app-upcoming-jobs (jobsDue)="jobsDue = $event" [paginationDisabled]="true"></app-upcoming-jobs>
</div>

<div *ngIf="!activated">
    <div class="row">
        <div class="col-sm text-center">
            <p class="info">Your account is pending verification and setup</p>
            <button class="btn btn-success btn-pending" (click)="showLogoutPopup()">Logout</button>
        </div>
    </div>
</div>
