.btn-success
{
    margin-top: 15px;
}
.buttons-container
{
    margin: 20px auto 10px;
    button
    {
        display: inline-block;
        width: 48%;
        margin-top: 0;
        &.btn-outline-success
        {
            float: right;
        }
    }
}
.modal-description
{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.info {
    font-weight: 600;
    font-size: 30px;
    color: #03c88b;
}

.btn-pending {
    width: 40%;
}
