<div class="row">
    <div class="col-12">
        <app-stepper [steps]="steps"></app-stepper>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-12">
        <p class="summary-description">
            Thank you for submitting your application. We will be in touch if you are successful!
        </p>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <a routerLink="/carer" class="btn btn-success">Continue</a>
        </div>
    </div>
</div>
