p {
  color: #9b9b9b;
}

input {
  height: 48px;
}

button {
  float: right;
  margin-left: 3%;
  width: 30%;
}

.input {
  width: 67%;
  float: right;
  position: relative;
}

.not-found {
  color: red;
  float: left;
}