<div
        (click)="onOpenPopup()"
        [ngClass]="{'past-day': pastDay}"
        class="calendar-day"
>
    <app-day-jobs-list
            *ngIf="true"
            [jobs]="jobs"
            [index]="index"
            [allJobs]="allJobs"
    ></app-day-jobs-list>
    <span class="day-number">{{ getDay(empty, date) }}</span>
    <app-calendar-popup
            *ngIf="isAddPopupOpen() && getDay(empty, date) && !pastDay"
            [date]="date"
            [index]="index"
            [direction]="direction"
            (closePopup)="onClosePopup()"
    ></app-calendar-popup>
    <app-calendar-popup-list
            *ngIf="isListPopupOpen() && getDay(empty, date)"
            [allJobs]="allJobs"
            [index]="index"
    >
    </app-calendar-popup-list>
</div>