<div class="row">
    <div class="col-sm">
        <h4>Current / upcoming jobs</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <p *ngIf="!jobs.length">No jobs available</p>
        <div *ngIf="jobs.length" >
            <table class="custom-table text-center">
                <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Start date</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>Your carer</th>
                    <th>Current carer rating</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let job of jobs">
                    <td>{{ job.id }}</td>
                    <td>{{ job.start_date | datePattern: "YYYY-MM-DD" }}</td>
                    <td>{{ job.start_date | datePattern: "h:mm A" }}</td>
                    <td>{{ job.end_date | datePattern: "h:mm A"}}</td>
                    <td [ngClass]="{'red-bg': !job.carer }"> {{ job.carer ? job.carer.carer.getCarerFullName() : "Pending" }}</td>
                    <td>
                        <div *ngIf="job.carer">
                            <span *ngIf="job.carer.carer.reviews.count == 0">Unrated</span>
                            <span *ngIf="job.carer.carer.reviews.count != 0">{{ job.carer.carer.reviews.average }} from {{ job.carer.carer.reviews.count }} reviews </span>
                        </div>
                    </td>
                    <td><a [routerLink]="['/care-home-job-actions', job.id, 'details']" class="app-link">Modify / cancel</a></td>
                </tr>
                </tbody>
            </table>
            <br>
            <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
        </div>
    </div>
</div>
