<app-cms-popup [title]="title" [id]="type + '_id'" [showLogo]="false">
    <div class="row">
        <div class="col-12 text-center">
            <p class="dialog">Are you sure you want to delete this file?</p>
            <div class="carer-actions">
                <button (click)="onDeleteFile()" class="btn btn-success btn-actions">Yes</button>
                <button (click)="onClose()" class="btn btn-success btn-actions right">No</button>
            </div>
        </div>
    </div>
</app-cms-popup>
