.no-wrap {
  white-space: nowrap;
}

.btn-nav
{
  width: 150px;
  margin-top: -50px;
}
button[type="submit"]
{
  max-width: 500px;
}
.form-group-max {
  min-height: 60px;
}
.headerTop th{
  background-color: white;
  color:black;
  border: 1px solid black;
}
.prizing-table input.form-control{
  font-size:14px;
}
.custom-button-parametrization {
  color:white!important;
  display: inline;
  max-width: 200px;
}