<app-care-home-booking-header
        navigationTitle="Edit booking details"
        navigationRoute="/care-home-booking/review"
        mainTitle="CARD PAY DETAILS"
></app-care-home-booking-header>
<br>
<div class="row">
    <div class="col-sm text-center">
        <p class="payment-info">
            As this is your first time booking with us, please provide your card details, they will be saved for future
            use, but the card number will be hidden from other users.

            Payment is only taken 3 working days after a shift is completed and signed off by you or an appointed member
            of staff

            You can change details in the future by going to ‘My Profile’
        </p>
    </div>
</div>

<form novalidate (ngSubmit)="onCardDetailsSave()" [formGroup]="stripeTest">
    <div class="form group text-center">
                    <span
                            *ngIf="apiError"
                            class="invalid-feedback left"
                    >{{ apiError }}</span>
        <span
                *ngIf="apiError"
                class="invalid-feedback left"
        >{{ formError }}</span>
    </div>
    <label class="left">Full Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="">
    <br>
    <label class="left">Card details</label>
    <div id="card-element" class="field form-control card-field" #card></div>
    <br>
    <button type="submit" class="btn-success">
        Submit <span *ngIf="buttonLoading"><i class="fa fa-spinner fa-spin"></i></span>
    </button>
</form>