<div class="row">
  <div class="col-sm">
    <h2>Create admin account</h2>
    <button routerLink="/admin/admins-management" class="btn btn-success right btn-nav">Back</button>
  </div>
</div>
<br>

<div class="row">
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="formUtils.handleValidationStateClass(form, 'password')">
            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'password', messages) }} </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm password" formControlName="password_confirm" [ngClass]="formUtils.handleValidationStateClass(form, 'password_confirm')">
            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'password_confirm', messages) }} </span>
          </div>
        </div>
      </div>   <div class="row">
      <div class="col-12">
        <div class="text-center">
          <button class="btn btn-success" type="submit" [disabled]="!form.valid || inProgress">Save</button>
          <span class="invalid-feedback"> {{ error }} </span>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
    </form>
  </div>
</div>


