<section class="landing-section">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header">Our Service</h2>
            <ul>
                <li>Low cost, high quality agency & temporary care staff for Care Homes</li>
                <li>Oliver James brings experienced, temporary carers to nursing & residential homes at prices of £11 per hour (weekdays) and £12.50 per hour (weekends)</li>
                <li>We do this by cutting out the middle-man to ensure your clients get the care they deserve at affordable prices and carers receive the majority of the pay</li>
                <li>All Oliver James carers are experienced, enhanced DBS checked and fully trained</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/service-shape.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cost control</h5>
                    <ul>
                        <li>Low prices by cutting out the middle man</li>
                        <li>Track your spend online</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/service-shape.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CQC Compliance</h5>
                    <ul>
                        <li>See reviews of carers from other Providers</li>
                        <li>Up-to-date training records of every carer you’ve ever used to prove compliance</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/service-shape.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ease</h5>
                    <ul>
                        <li>Cover multiple shifts with the touch of a button</li>
                        <li>Automated payments to reduce admin</li>
                        <li>Electronic billing records for accounting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>

<section class="landing-section">
    <h2 class="section-header">How it works</h2>

    <div class="row">
        <div class="col-3">
            <div class="card hidden-border">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/agenda.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Enter your postcode</h5>
                    <p>Enter your postcode to check if we currently have carers in your area.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card hidden-border">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/avatar.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Create an account</h5>
                    <p>Our simple registration system avoids the needs for faxes and paperwork.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card hidden-border">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/calendar.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Book cover</h5>
                    <p>Book for one or multiple shifts with our quick booking system or call us to set up a booking.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card hidden-border">
                <div class="img-container">
                    <img class="img-fluid" src="./assets/images/clock.png" alt="Service shape">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Free time to focus on care</h5>
                    <p>Enjoy low cost, high quality agency care from experienced carers. Ensure better CQC compliance through our electronic records.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>

<section class="landing-section">
    <h2 class="section-header">Why we’re here</h2>
    <p>
        We’re here because we know exactly how it feels to be in your shoes. Oliver James began after care home owner Paul Nery saw how inefficient and untransparent the agency care market was – often paying huge mark-ups for agency carers into his own care homes, while seeing the carers doing the work getting very little of the pay. Paul realised that the existing system was not designed to give operators what they really needed - quality, choice and control, at an affordable price.
    </p>
    <p>
        At Oliver James, only experienced carers are eligible. All our carers are self-employed (so they receive the majority of the pay), but we provide them with training, enhanced DBS checks and the other facilities they need to be successful. For operators, this means better rates – along with greater quality control (all our carers are reviewed by other operators who have used them), better CQC compliance and less paperwork. For carers, this means better control over your pay and the types of care you provide – while still having access to our training and support network.
    </p>
</section>

<br>
<br>

<footer>
    <div class="row">
        <div class="col-4">
            <a class="footer-link" routerLink="/contact">Contact us</a>
        </div>
        <div class="col-4">
            <a class="footer-link"  routerLink="/terms">Client terms of service</a>
        </div>
        <div class="col-4">
            <a class="footer-link"  routerLink="/terms">Carer terms of service</a>
        </div>
    </div>
</footer>

