<app-popup [title]="title" [id]="type + '_id'" [showLogo]="false">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="form group text-center">
                    <span
                            *ngIf="apiError"
                            class="invalid-feedback left"
                    >{{ apiError }}</span>
                    <label class="left">Old password</label>
                    <input formControlName="oldPassword" type="password" placeholder="Old password"
                           class="form-control">
                    <span
                            *ngIf="!form.controls['oldPassword'].valid && form.controls['oldPassword'].touched"
                            class="invalid-feedback"
                    >This field is required</span>
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">New password</label>
                    <input formControlName="newPassword" type="password" placeholder="New password"
                           class="form-control">
                    <span
                            *ngIf="!form.controls['newPassword'].valid && form.controls['newPassword'].touched"
                            class="invalid-feedback"
                    >This field is required</span>
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">Confirm password</label>
                    <input formControlName="confirmPassword" type="password" placeholder="Confirm password"
                           class="form-control">
                    <span
                            *ngIf="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched"
                            class="invalid-feedback"
                    >This field is required</span>
                    <span
                            *ngIf="!passwordsMatch"
                            class="invalid-feedback"
                    >Passwords don't match</span>
                </div>
                <br>
                <div class="buttons-container">
                    <button (click)="onPasswordChange()" type="submit" class="btn btn-success"
                            [disabled]="!passwordsMatch || !form.valid">
                        Change password
                    </button>
                </div>
            </form>
        </div>
    </div>
</app-popup>