<div class="day-events">
    <span
            (mouseenter)="onMouseEnter(i); $event.stopPropagation()"
            (mouseleave)="onMouseLeave(i)"
            *ngFor="let job of allJobs let i = index" class="single-event job carer-job">
        {{ job.job.start_date | datePattern: "h:mm A" }}-{{ job.job.end_date | datePattern: "h:mm A" }}
        <app-carer-calendar-popup
                [job]="job.job"
                *ngIf="showPopup[i]"
        ></app-carer-calendar-popup>
    </span>
</div>
