<div *ngIf="careHomeService?.jobDetails" class="job-details">
    <span class="details-header">Job details</span>
    <ul>
        <li class="details-row">
            <span class="details-label">Job ID:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails._id }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Start:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.start_date | timestampDate}}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Time:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.end_date | timestampHour}} till {{ careHomeService.jobDetails.end_date |
                timestampHour }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Due in:</span>
            <p class="details-info">
                {{ getDueIn(careHomeService.jobDetails) }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Gender preference:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.gender_preference }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Phone:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.author.phone_number }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Address:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.author.address.address_line_1 }},
                {{ careHomeService.jobDetails.author.address.address_line_2 }}
                {{ careHomeService.jobDetails.author.address.city }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Google maps:</span>
            <p class="details-info">
                Find service on <a [href]="" class="app-link" target="_blank">Google Maps</a>
            </p>
        </li>

        <li *ngIf="careHomeService.jobDetails.notes" class="details-row">
            <span class="details-label">Job guidance:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.notes }}
            </p>
        </li>

        <li *ngIf="getFloorPlanLink(careHomeService.jobDetails.general_guidance.floor_plan)" class="details-row">
            <span class="details-label">Floor plan:</span>
            <p class="details-info">
                <a [href]="getFloorPlanLink(careHomeService.jobDetails.general_guidance.floor_plan)" class="app-link" target="_blank">Floor
                    plan</a>
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Contact on arrival:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.general_guidance.report_contact }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Contact to confirm job:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.general_guidance.superior_contact }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Parking:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.general_guidance.parking }}
            </p>
        </li>

        <li class="details-row">
            <span class="details-label">Notes for carers:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.general_guidance.notes_for_carers }}
            </p>
        </li>
        <li class="details-row">
            <span class="details-label">Emergency guidance:</span>
            <p class="details-info">
                {{ careHomeService.jobDetails.general_guidance.emergency_guidance}}
            </p>
        </li>
    </ul>
</div>
<br>
<div class="details-actions">
    <button (click)="onCancelJob()" class="btn btn-success margin-r btn-red">Cancel job</button>
    <button (click)="onEditJob()" class="btn btn-success right">Edit job</button>
</div>

<app-cancelation-popup
        *ngIf="showCancelationPopup"
        [type]="'cancelation_popup'"
        (closed)="showCancelationPopup = false"
></app-cancelation-popup>
