<p>
    At Oliver James, we recognise the important work carers do and we believe you should get the recognition you deserve.
</p>
<p>
    That’s why we’re here.
</p>
<p>
    We give you access to the resources, training and guidance you need to be a great carer and look after the people that matter most. Our online platform cuts out the admin and paperwork involved in covering shifts, submitting timesheets and all that other stuff that adds costs and takes up your time. Because our platform takes care of the overheads, you don’t pay hefty charges to care agencies and payments can be made within 3 working days.
</p>

<p>
    And as an Oliver James carer, you get to decide when, where and how often you work
</p>

<p>
    Whether you want a make your career as an agency carer or just want to do something to top-up your income, come and join the Oliver James community!
</p>
