<div class="row">
    <div class="col-12">
        <ul>
            <li>
                Oliver James Carers enjoy many benefits, including earning a lot more than other agency carers, payments within 3 working days and the freedom to choose when, where and which homes they work with
            </li>
            <li>
                You will be self-employed, meaning that you will have to manage your own tax affairs. You will also be expected to take out public liability insurance, to protect yourself and the people you work with. Never fear, our team will be with you every step of the way to make this a simple and straight forward process
            </li>
            <li>
                Our Terms and Conditions govern the use of the Oliver James platform by all carers and customers. To proceed with your application, you will need to acknowledge that you have read and accepted these conditions.
            </li>
        </ul>
    </div>
</div>
