<div class="row">
    <div class="col-sm">
        <h2>Carers</h2>
        <button routerLink="/admin/carers/add" class="btn btn-success right btn-nav">Add carer</button>
        <!--<a routerLink="list-is-owes-money" class="btn btn-success right btn-nav margin-top-0">List/owes money</a>-->

    </div>
</div>
<br>
<br>

<!--filters-->
<form [formGroup]="form">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label>Search</label>
                <input formControlName="search" type="text" placeholder="Search" class="form-control">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Status filter</label>
                <select formControlName="status_filter" class="form-control">
                    <option value="ALL">All</option>
                    <option value="CREATED">Created</option>
                    <option value="ACTIVE">Active</option>
                    <option value="BANNED">Banned</option>
                </select>
            </div>
        </div>
    </div>
</form>
<br>

<!--results-->
<div class="row">
    <div class="col-sm">
        <p *ngIf="carers.length === 0">No results</p>
        <div *ngIf="carers.length !== 0">
            <table class="custom-table text-center">
                <thead>
                    <tr>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'id_asc'}"
                                class="asc" (click)="onChangeSort('id_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'id_desc'}" class="desc" (click)="onChangeSort('id_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Carer&nbsp;ID</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'name_asc'}" class="asc" (click)="onChangeSort('name_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'name_desc'}" class="desc" (click)="onChangeSort('name_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Name</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'date_of_birth_asc'}" class="asc" (click)="onChangeSort('date_of_birth_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'date_of_birth_desc'}" class="desc" (click)="onChangeSort('date_of_birth_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Date&nbsp;of&nbsp;birth</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'activation_date_asc'}" class="asc" (click)="onChangeSort('activation_date_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'activation_date_desc'}" class="desc" (click)="onChangeSort('activation_date_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Date&nbsp;went&nbsp;active</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'rating_asc'}" class="asc" (click)="onChangeSort('rating_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'rating_desc'}" class="desc" (click)="onChangeSort('rating_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Rating</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'status_asc'}" class="asc" (click)="onChangeSort('status_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'status_desc'}" class="desc" (click)="onChangeSort('status_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Status</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'banned_until_asc'}" class="asc" (click)="onChangeSort('banned_until_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'banned_until_desc'}" class="desc" (click)="onChangeSort('banned_until_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Banned&nbsp;deadline</div>
                        </th>
                        <th class="sort-cell">
                            <div class="sort-container">
                                <div [ngClass]="{'chosenSort':sort === 'deductions_balance_asc'}" class="asc" (click)="onChangeSort('deductions_balance_asc')"><i class="fa fa-angle-up"></i></div>
                                <div [ngClass]="{'chosenSort':sort === 'deductions_balance_desc'}" class="desc" (click)="onChangeSort('deductions_balance_desc')"><i class="fa fa-angle-down"></i></div>
                            </div>
                            <div class="sort-label">Total&nbsp;still to&nbsp;deduct</div>
                        </th>
                        <th>Notes</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carer of carers">
                        <td>{{ carer._id }}</td>
                        <td>{{ carer.carer.first_name }} {{ carer.carer.surname }}</td>
                        <td>{{ carer.carer.date_of_birth }}</td>
                        <td>{{ carer.activation_date ? (carer.activation_date | datePattern: "YYYY-MM-DD") : "" }}</td>
                        <td>{{ carer.carer.reviews.average }}</td>
                        <td>{{ carer.status | capitalize | status }}</td>
                        <td>{{ carer.banned_until ? (carer.banned_until | datePattern: "YYYY-MM-DD") : "" }}</td>
                        <td><span>&#163;</span>{{ carer.carer.deductions_balance }}</td>
                        <td>{{ carer.notes }}</td>
                        <td>
                            <div class="text-center">
                                <a [routerLink]="['/admin', 'carers', carer._id]" class="actions">Carer details</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
        </div>
    </div>
</div>
