<app-care-home-booking-header
        navigationTitle="Back"
        navigationRoute="/carer-paid-submitted"
        mainTitle="Payment details"
></app-care-home-booking-header>
<br>

<div *ngIf="carerJobService.pastJobDetails" class="row">
    <div class="col-sm">
        <table class="profile-table">
            <tr>
                <th>Total time worked (hours)</th>
                <td>{{ getTotalTimeWorked() }}</td>
            </tr>
            <tr>
                <th>Less deductions (minutes)</th>
                <td>{{ carerJobService?.pastJobDetails.payment.deductions }}</td>
            </tr>
            <tr>
                <th>Time billed</th>
                <td>{{ getTotalTimeBilled() }}</td>
            </tr>
            <tr>
                <th>Gross due</th>
                <td>{{ carerJobService?.pastJobDetails.payment.job_income }} <span>&#163;</span></td>
            </tr>
            <tr>
                <th>Oliver James Commission</th>
                <td>{{ carerJobService?.pastJobDetails.payment.application_fee }} <span>&#163;</span></td>
            </tr>
            <tr>
                <th>Oliver James deduction: Training</th>
                <td>{{ carerJobService?.pastJobDetails.payment.transaction_charge }} <span>&#163;</span></td>
            </tr>
            <tr>
                <th>Net due</th>
                <td>{{ carerJobService?.pastJobDetails.payment.net_income }} <span>&#163;</span></td>
            </tr>
        </table>
        <br>
    </div>
</div>
