<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Payment details</h2>
        <a routerLink="/carer-paid-submitted"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>

<div *ngIf="job" class="row">
    <div class="col-sm">
        <table class="profile-table">
            <tr>
                <th>Total time worked</th>
                <td>{{ job.getTimeBilled(false) }}</td>
            </tr>
            <tr>
                <th>Less deductions: </th>
                <td>{{ job.summary_sheet.voluntary_deduction }} {{ job.summary_sheet.voluntary_deduction == 1 ? "minute" : "minutes"}}</td>
            </tr>
            <tr>
                <th>Time billed</th>
                <td>{{ job.getTimeBilled(false) }}</td>
            </tr>
            <tr>
                <th>Gross due</th>
                <td><span>&#163;</span>{{ job.payment.job_income }}</td>
            </tr>
            <tr>
                <th>Oliver James Commission</th>
                <td><span>&#163;</span>{{ job.payment.application_fee }}</td>
            </tr>
            <tr>
                <th>Oliver James deduction: Training</th>
                <td><span>&#163;</span>{{ job.payment.transaction_charge }} </td>
            </tr>
            <tr>
                <th>Net due</th>
                <td><span>&#163;</span>{{ job.payment.net_income }} </td>
            </tr>
        </table>
        <br>
    </div>
</div>
