<app-care-home-booking-header
        navigationTitle="Back"
        navigationRoute="/carer-paid-submitted"
        mainTitle="Payment details"
></app-care-home-booking-header>
<br>

<div class="row">
    <div class="col-sm">
        <table class="profile-table">
            <tr>
                <th>Total time worked (hours)</th>
                <td>6 hours 30 min</td>
            </tr>
            <tr>
                <th>Less deductions (minutes)</th>
                <td>30</td>
            </tr>
            <tr>
                <th>Time billed</th>
                <td>6 hours 30 min</td>
            </tr>
            <tr>
                <th>Gross due</th>
                <td>68</td>
            </tr>
            <tr>
                <th>Oliver James Commission</th>
                <td>3</td>
            </tr>
            <tr>
                <th>Oliver James deduction: Training</th>
                <td>2</td>
            </tr>
            <tr>
                <th>Net due</th>
                <td>63</td>
            </tr>
        </table>
        <br>
    </div>
</div>