<header class="fixed-wrapper" #fixedWrapper >
    <app-header (carerLoginTriggered)="initCarerLogin()" (careHomeLoginTriggered)="initCareHomeLogin()"></app-header>
</header>

<section id="content" appContentResizer [relativeTo]="fixedWrapper">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>

<app-login [type]="'carer'" *ngIf="carerLogin" (closed)="onCarerClosed()" (forgotPasswordTriggered)="onForgotPasswordOpen()"></app-login>
<app-login [type]="'careHome'" *ngIf="careHomeLogin" (closed)="onCareHomeClosed()" (forgotPasswordTriggered)="onForgotPasswordOpen()"></app-login>
<app-forgot-password *ngIf="forgotPassword" (closed)="onForgotPasswordClosed()"></app-forgot-password>
