<header class="fixed-wrapper" #fixedWrapper >
    <app-header (carerLoginTriggered)="initCarerLogin()" (careHomeLoginTriggered)="initCareHomeLogin()"></app-header>
</header>

<section id="content" appContentResizer [relativeTo]="fixedWrapper">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>

<div *ngIf="loadingService?.showMainSpinner === true" class="loading-wrapper">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
</div>

<app-login [type]="'carer'" *ngIf="carerLogin" (closed)="onCarerClosed()" (forgotPasswordTriggered)="onForgotPasswordOpen()"></app-login>
<app-login [type]="'careHome'" *ngIf="careHomeLogin" (closed)="onCareHomeClosed()" (forgotPasswordTriggered)="onForgotPasswordOpen()"></app-login>
<app-forgot-password *ngIf="forgotPassword" (closed)="onForgotPasswordClosed()"></app-forgot-password>

<app-popup [title]="'Care home'" [id]="'care_home_waiting_confirmation_id'">
    <div class="row">
        <div class="col-12">
            <p class="modal-description">
                Thank you. We will be in touch when we come to your area.
            </p>
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</app-popup>

<app-popup [title]="'Contact'" [id]="'contact_confirmation_id'">
    <div class="row">
        <div class="col-12">
            <p class="modal-description">
                Email sent
            </p>
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</app-popup>

<simple-notifications [options]="options"></simple-notifications>