<app-popup [title]="title" [id]="type + '_id'" [showLogo]="false">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="form group text-center">
                    <span>All fields required</span>
                </div>
                <div class="form group text-center">
                    <span
                            *ngIf="apiError"
                            class="invalid-feedback left"
                    >{{ apiError }}</span>
                    <label class="left">Country</label>
                    <select formControlName="country" class="form-control">
                        <option value="US">United Kingdom</option>
                    </select>
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">Currency</label>
                    <select formControlName="currency" class="form-control">
                        <option value="usd">British pound (GBP)</option>
                    </select>
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">Bank routing number</label>
                    <input formControlName="routing_number" class="form-control" type="text">
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">Account number</label>
                    <input formControlName="account_number" class="form-control" type="text">
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">Account holder name</label>
                    <input formControlName="account_holder_name" class="form-control" type="text">
                </div>
                <br>
                <div class="form group text-center">
                    <label class="left">Account type</label>
                    <select formControlName="account_holder_type" class="form-control">
                        <option value="individual">Individual</option>
                        <option value="company">Company</option>
                    </select>
                </div>
                <br>
                <div class="buttons-container">
                    <button (click)="onAccountStore()" type="submit" class="btn btn-success"
                            [disabled]="!form.valid">
                        Update account details
                    </button>
                </div>
            </form>
        </div>
    </div>
</app-popup>