p {
  color: #9b9b9b;
}


.input {
  width: 100%;
  position: relative;
}

.not-found {
  color: red;
  float: left;
}
.add-job
{
    max-width: 200px;
    margin-bottom: 50px;
}

button[type="submit"]
{
    max-width: 500px;
}
