<div class="row">
    <div class="col-sm text-center">
        <h2 class="main-title">Profile details</h2>
        <a routerLink="/care-home-dashboard"  class="btn btn-subnav btn-secondary left">Back</a>
    </div>
</div>
<br>
<br>

<!-- profile -->

<div *ngIf="form"class="row">
    <div class="col-sm">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <table class="profile-table">
                <tr>
                    <th class="tall">Your email address</th>
                    <td class="tall relative">
                        <span class="first-row">{{ profileDetails?.email }}</span>
                        <span class="action">
                            <button (click)="showEditEmail = true" class="btn btn-success edit" type="button">Edit</button>
                        </span>
                        <span *ngIf="!profileDetails?.email_verified" (click)="onResendEmail()" class="red second-row gj-cursor-pointer">
                            Not verified - tap to resend verification email
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Your Oliver James ID</th>
                    <td>{{ profileDetails?._id }}</td>
                </tr>
                <tr>
                    <th>Your phone number</th>
                    <td>
                        <input formControlName="phone_number" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'phone_number')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'phone_number', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Your Name</th>
                    <td>
                        <input formControlName="name" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'name')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'name', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Care Service Name</th>
                    <td>
                        <input formControlName="care_service_name" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'care_service_name')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'care_service_name', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Postcode</th>
                    <td>
                        <input formControlName="postal_code" autocomplete="off" id="postcode" name="postcode" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'postal_code')">
                        <app-address-lookup [search]="form.get('postal_code')" (addressFound)="onAddressFound($event)"></app-address-lookup>
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'postal_code', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Address line 1</th>
                    <td>
                        <input formControlName="address_line_1" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'postal_code')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'address_line_1', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Address line 2</th>
                    <td><input formControlName="address_line_2" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'address_line_2')"></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>
                        <input formControlName="city" type="text" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'city')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'city', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td class="relative tall">
                    <span class="action">
                        <button (click)="showChangePassword = true" class="btn btn-success edit"  type="button">Edit</button>
                    </span>
                    </td>
                </tr>
                <tr>
                    <th>Type of home</th>
                    <td>
                        <select formControlName="type_of_home" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'type_of_home')">
                            <option value="Residential">Residential</option>
                            <option value="Nursing">Nursing</option>
                            <option value="Learning disability">Learning disability</option>
                            <option value="Supported living">Supported living</option>
                        </select>
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'type_of_home', messages) }} </span>
                    </td>
                </tr>
                <tr>
                    <th>Bank account details (to receive payment)</th>
                    <td class="relative tall">
                        <span *ngIf="profileDetails?.care_home.payment_system.card_number !== null" class="first-row">Stored {{ profileDetails?.care_home.payment_system.card_number }}</span>
                        <span *ngIf="profileDetails?.care_home.payment_system.card_number === null" class="first-row">Account not set up</span>
                        <span class="action">
                            <button (click)="showEditCardDetails = true" class="btn btn-success edit"  type="button">Edit</button>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Blocked carers</th>
                    <td>
                        <span (click)="showBlockedCarers = true" class="green gj-cursor-pointer">See all blocked carers</span>
                    </td>
                </tr>
            </table>

            <br>
            <br>
            <br>

            <!-- gender preference -->
            <h4>Details for all jobs</h4>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h5>Gender preference</h5>
                </div>
                <div class="col-md-12 col-lg-7">
                    <div class="form-check preference-container">
                        <input class="form-check-input" type="radio" name="gender_preference" id="no_preference" value="No preference" formControlName="gender_preference">
                        <div class="preference-tab text-center">
                            <label class="form-check-label" for="no_preference">
                                No preference
                            </label>
                        </div>
                    </div>
                    <div class="form-check preference-container">
                        <input class="form-check-input" type="radio" name="gender_preference" id="male" value="Male" formControlName="gender_preference">
                        <div class="preference-tab text-center no-left-border">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                    </div>
                    <div class="form-check preference-container">
                        <input class="form-check-input" type="radio" name="gender_preference" id="female" value="Female" formControlName="gender_preference">
                        <div class="preference-tab text-center no-left-border">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!-- general guidance -->
            <div *ngIf="profileDetails" class="row">
                <div class="col-sm-12">
                    <h5>General Guidance</h5>
                    <p>Complete optionally - this will be saved for all future jobs and seen by Oliver James carers coming to {{ profileDetails?.care_home.care_service_name }}</p>
                </div>
                <div class="col-md-12 col-lg-7">
                    <div class="guidance-row">
                        <div class="guidance-left-tab text-center">
                            When our carer calls your service to confirm the job, who should they speak to
                        </div>
                        <textarea formControlName="superior_contact" class="guidance-right-tab" placeholder="e.g senior carer, manager"></textarea>
                    </div>

                    <div class="guidance-row">
                        <div class="guidance-left-tab text-center">Where should the carer report to upon arrival</div>
                        <textarea formControlName="report_contact" class="guidance-right-tab" placeholder="e.g ask to speak to the senior carer or manager"></textarea>
                    </div>

                    <div class="guidance-row">
                        <div class="guidance-left-tab text-center">Carer guidance in event of fire alarm sounding:</div>
                        <textarea formControlName="emergency_guidance" class="guidance-right-tab" placeholder="e.g. report to fire panel at main entrance"></textarea>
                    </div>

                    <div class="guidance-row">
                        <div class="guidance-left-tab text-center">Notes on High risk / complexity residents / any other requests for our carers:</div>
                        <textarea formControlName="notes_for_carers" class="guidance-right-tab" placeholder="e.g. Room 1 has swallowing difficulties. Please take written notes during handover"></textarea>
                    </div>

                    <div class="guidance-row">
                        <div class="guidance-left-tab text-center">What parking availability is there for the carer</div>
                        <textarea formControlName="parking" class="guidance-right-tab" placeholder="Describe where and if it's free parking / how to pay"></textarea>
                    </div>

                    <!--floor plan-->
                    <div class="guidance-row">
                        <div class="guidance-left-tab text-center">
                            Upload a floor plan of your care home
                        </div>
                        <div class="guidance-right-tab text-center">
                            <!--current  floor plan-->
                            <div>
                                <span *ngIf="profileDetails.care_home.general_guidance.floor_plan" class="file-link">
                                    <a class="gj-cursor-pointer app-link" [href]="getFloorPlan()" target="_blank">Floor plan</a>
                                </span>
                                <span *ngIf="!profileDetails.care_home.general_guidance.floor_plan" class="file-link">No floor plan updated so far</span>
                            </div>
                            <br>

                            <!--floor plan input-->
                            <input type="text" class="form-control" class="d-none" formControlName="floor_plan">
                            <input type="file" (change)="onFileChange($event)" #fileInput>
                            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'floor_plan', messages) }} </span>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success submit" [disabled]="!form.valid || inProgress">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>


<app-change-email
        *ngIf="showEditEmail"
        (closed)="showEditEmail = false"
        (update)="onUpdateData()"
></app-change-email>

<app-change-password
        *ngIf="showChangePassword"
        (closed)="showChangePassword = false"
></app-change-password>

<app-blocked-carers
        *ngIf="showBlockedCarers"
        [carerId]="profileDetails._id"
        [type]="blocked_carers"
        [blockedCarers]="blockedCarers"
        (closed)="showBlockedCarers = false"
        (reload)="onUpdateData()"
>
</app-blocked-carers>

<app-edit-card
        *ngIf="showEditCardDetails"
        (closed)="showEditCardDetails = false"
>
</app-edit-card>
