.form-control
{
    max-width: 500px;
}
.submit-button
{
    max-width: 300px;
}
.btn-nav
{
    width: 150px;
    margin-top: -50px;
}
button[type="submit"]
{
    max-width: 500px;
}

.datepicker-container
{
    max-width: 535px;
}

