<app-care-home-booking-header
        navigationTitle="Back"
        navigationRoute="/carer-dashboard"
        mainTitle="New jobs available"
></app-care-home-booking-header>
<br>

<div class="row">
    <div class="col-sm">
        <h5>New jobs available that meet your availability preferences</h5>
        <table class="custom-table text-center">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Start Date</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>Projected income for you</th>
                    <th>Care home</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th class="sort-cell" (clickOutside)="showDistanceFilters = false">
                        Distance from home
                        <span (click)="onShowFilters()" class="sort-icon">
                            <i class="fas fa-sort"></i>
                        </span>
                        <div
                                *ngIf="showDistanceFilters"
                                class="suggestions text-left">
                            <ul>
                                <li (click)="onSelectDistanceFilter(0.5)">
                                    0.5 miles
                                </li>
                                <li (click)="onSelectDistanceFilter(1)">
                                    1 mile
                                </li>
                                <li (click)="onSelectDistanceFilter(2)">
                                    2 mile
                                </li>
                                <li (click)="onSelectDistanceFilter(3)">
                                    3 mile
                                </li>
                                <li (click)="onSelectDistanceFilter(5)">
                                    5 mile
                                </li>
                                <li (click)="onSelectDistanceFilter(10)">
                                    10 mile
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th>Job details</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <p *ngIf="availableJobs.length === 0">No jobs available</p>
            <tbody *ngIf="availableJobs.length !==0">
                <tr *ngFor="let job of availableJobs">
                    <td>{{ job._id }}</td>
                    <td>{{ job.getStartDate() | date }}</td>
                    <td>{{ job.getStartDate() | hourPipe  }}</td>
                    <td>{{ job.getEndDate() | hourPipe}}</td>
                    <td></td>
                    <td>{{ job.author.care_home.care_service_name }}</td>
                    <td>{{ job.role }}</td>
                    <td>{{ job.author.address.address_line_1 }}, {{ job.author.address.city}}</td>
                    <td>
                        {{ job.author.distance }} mi
                    </td>
                    <td>
                        <div class="text-center">
                            <span
                                    [routerLink]="['/carer-apply-for-job', job._id]"
                                    class="actions"
                            >Apply for job</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <span *ngIf="job.conflict" class="red">Possible conflict</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li
                            *ngFor="let page of pages"
                            [ngClass]="{'active': getParams.page === page +1}"
                            class="page-item">
                        <a
                                (click)="onPaginationChange(page + 1)"
                                class="page-link">{{ page + 1 }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm">
        <h5>Available jobs  - that don’t meet your availability preferences</h5>
        <table class="custom-table text-center">
            <thead>
            <tr>
                <th>Job ID</th>
                <th>Start Date</th>
                <th>From</th>
                <th>Till</th>
                <th>Projected income for you</th>
                <th>Care home</th>
                <th>Role</th>
                <th>Address</th>
                <th>Distance from home</th>
                <th>Job details</th>
                <th>Notes</th>
            </tr>
            </thead>
            <p *ngIf="availableJobsWithoutCriteria.length === 0">No jobs available</p>
            <tbody *ngIf="availableJobsWithoutCriteria.length !==0">
            <tr *ngFor="let job of availableJobsWithoutCriteria">
                <td>{{ job?._id }}</td>
                <td>{{ job?.getStartDate() | date }}</td>
                <td>{{ job?.getStartDate() | hourPipe  }}</td>
                <td>{{ job?.getEndDate() | hourPipe}}</td>
                <td></td>
                <td>{{ job?.author.care_home.care_service_name }}</td>
                <td>{{ job?.role }}</td>
                <td>{{ job?.author.address.address_line_1 }}, {{ job?.author.address.city}}</td>
                <td>
                    {{ job?.author.distance }} mi
                </td>
                <td>
                    <div class="text-center">
                            <span
                                    [routerLink]="['/carer-apply-for-job', job?._id]"
                                    class="actions"
                            >Apply for job</span>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <span *ngIf="job?.conflict" class="red">Possible conflict</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li
                            *ngFor="let page of pagesWithoutCriteria"
                            [ngClass]="{'active': getParamsWithoutCriteria.page === page +1}"
                            class="page-item">
                        <a
                                (click)="onPaginationWithoutChange(page + 1)"
                                class="page-link">{{ page + 1 }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>