<app-care-home-booking-header
        navigationTitle="Back"
        navigationRoute="/carer-dashboard"
        mainTitle="New jobs available"
></app-care-home-booking-header>
<br>

<div class="row">
    <div class="col-sm">
        <p *ngIf="!loading && availableJobs.length === 0">No jobs available</p>
        <table *ngIf="!loading && availableJobs.length !==0" class="custom-table text-center">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Start Date</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>Projected income for you</th>
                    <th>Care home</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th>Distance from home</th>
                    <th>Job details</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of availableJobs">
                    <td>{{ job._id }}</td>
                    <td>{{ job.getStartDate() | date }}</td>
                    <td>{{ job.getStartDate() | hourPipe  }}</td>
                    <td>{{ job.getEndDate() | hourPipe}}</td>
                    <td></td>
                    <td>{{ job.author.care_home.care_service_name }}</td>
                    <td>{{ job.role }}</td>
                    <td>{{ job.author.address.address_line_1 }}, {{ job.author.address.city}}</td>
                    <td>{{ job.author.distance }} mi</td>
                    <td>
                        <div class="text-center">
                            <span
                                    [routerLink]="['/carer-apply-for-job', job._id]"
                                    class="actions"
                            >Apply for job</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <span *ngIf="job.conflict" class="red">Possible conflict</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>