<app-popup [title]="title" [id]="type + '_id'" [showLogo]="false">
    <div class="row">
        <div class="col-12 text-center">
            <p>Once a job is accepted, you may cancel up to 24 hours before it is due to start, free-of-charge. When a
                user cancels a job due to start within the next 24 hours and it has been more than 2 hours since it was
                accepted, you will be charged 50% of the job fee.
                <span *ngIf="!halfCharge">Under these terms, cancelling this job will be Free of charge.</span>
                <span *ngIf="halfCharge">Under these terms, you will be charged 50% of the job cost.</span>
            </p>
            <br>

            <button (click)="onClose()" class="btn btn-success btn-actions">Do not cancel</button>
            <button (click)="onCancelJob()" class="btn btn-success btn-actions">Cancel job
                <span *ngIf="buttonLoading"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </div>
    </div>
</app-popup>
