<div class="row">
  <div class="col-sm">
    <h2>Edit admin account</h2>
    <button routerLink="/admin/admins-management" class="btn btn-success right btn-nav">Back</button>
  </div>
</div>
<br><br>
<br>
<br>


<div class="row">
  <div class="col-12">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group form-group-max">
            <input type="email" class="form-control" placeholder="Email"
                   formControlName="email"
                   [ngClass]="formUtils.handleValidationStateClass(form, 'email')">
            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'email', messages) }} </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group form-group-max">
            <select formControlName="role" *ngIf="authService.getCurrentRole() == 3" formControlName="role" class="form-control">
              <option [attr.selected]="this.form.get('role').value=='ADMIN' ? '' : null" value="ADMIN">Admin</option>
              <option [attr.selected]="this.form.get('role').value=='ADMIN_MANAGER' ? '' : null" value="ADMIN_MANAGER">Manager</option>
              <option [attr.selected]="this.form.get('role').value=='ADMIN_DIRECTOR' ? '' : null" value="ADMIN_DIRECTOR">Director</option>
            </select>
            <select formControlName="role" *ngIf="(authService.getCurrentRole() == 2) && (this.form.get('role').value != 'ADMIN_DIRECTOR')" formControlName="role" class="form-control">
              <option [attr.selected]="this.form.get('role').value=='ADMIN' ? '' : null" value="ADMIN">Admin</option>
              <option [attr.selected]="this.form.get('role').value=='ADMIN_MANAGER' ? '' : null" value="ADMIN_MANAGER">Manager</option>
            </select>
            <input *ngIf="(authService.getCurrentRole() == 2) && (this.form.get('role').value == 'ADMIN_DIRECTOR')" class="form-control ng-untouched ng-pristine ng-valid" disabled type="text" value="Director">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group form-group-max">
            <input type="text" class="form-control" placeholder="First name"
                   formControlName="first_name"
                   [ngClass]="formUtils.handleValidationStateClass(form, 'first_name')">
            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'first_name', messages) }} </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group form-group-max">
            <input type="text" class="form-control" placeholder="Last name"
                   formControlName="surname"
                   [ngClass]="formUtils.handleValidationStateClass(form, 'surname')">
            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'surname', messages) }} </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <button class="btn btn-success" type="submit" [disabled]="!form.valid || inProgress">Save
            </button>
            <span class="invalid-feedback"> {{ error }} </span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </form>
  </div>
</div>


