<app-popup [id]="'logout'" [title]="'Logout'">
    <p class="modal-description">
        Are you sure you want to logout?
    </p>
    <div class="buttons-container">
        <button type="button" type="submit" class="btn btn-success" (click)="onLogout()">OK</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancel</button>
    </div>
</app-popup>

<h4>What do you want to do?</h4>
<div class="row">
    <div class="col-md-4">
        <a [routerLink]="['/care-home-booking', 'new']" class="btn btn-success">Book a new job</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success">See past jobs / invoices</a>
    </div>
    <div class="col-md-4">
        <button class="btn btn-success" (click)="showLogoutPopup()">Logout</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a routerLink="/care-home-upcoming-jobs" class="btn btn-success">See all upcoming jobs</a>
        <div class="text-center">
            <small class="text-muted text-center">X orders placed / Y filled</small>
        </div>
    </div>
    <div class="col-md-4">
        <a routerLink="/care-home-reviews" class="btn btn-success">Write reviews of carers</a>
        <div class="text-center">
            <small class="text-muted text-center">X still to write</small>
        </div>
    </div>
</div>

<br>
<app-care-home-upcoming-jobs></app-care-home-upcoming-jobs>

