<div class="row">
    <div class="col-sm">
        <h2>Job details</h2>
        <button routerLink="/admin/jobs/list" class="btn btn-success right btn-nav">Back</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <button (click)="openCancelJobPopup(true)" class="btn btn-success" [disabled]="jobDetails?.status === 'CANCELLED'">Cancel job</button>
    </div>
    <div class="col-sm-4">
        <button (click)="openCancelJobPopup(false)" class="btn btn-success" [disabled]="jobDetails?.status === 'CANCELLED'">Cancel job - waive charges</button>
    </div>
    <div class="col-sm-4">
        <button (click)="showResolveChallengeDialog = true" [disabled]="jobDetails?.status !== 'CHALLENGED'" class="btn btn-success"
        >Decide on challenged job</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <button (click)="seeReviewDialog = true" class="btn btn-success" [disabled]="!jobDetails?.review">See review</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-success" [disabled]="true">Retry payment</button>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col sm">
        <span *ngFor="let error of errors" class="input-error">{{ error.message }}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <table *ngIf="jobDetails" [formGroup]="form" class="carer-details-table">
            <tr>
                <th>Job ID</th>
                <td>{{ jobDetails._id }}</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>
                    <input formControlName="start" type="text" class="form-control" placeholder="yyyy-mm-dd">
                </td>
            </tr>
            <tr>
                <th>From</th>
                <td>
                    <select formControlName="start_date" class="form-control">
                        <option *ngFor="let hour of timeArr" [value]="hour.formatedDate">{{ hour.formatedDate }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Till</th>
                <td>
                    <select formControlName="end_date" class="form-control">
                        <option *ngFor="let hour of timeArr" [value]="hour.formatedDate">{{ hour.formatedDate }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <select formControlName="role" class="form-control">
                        <option value="Carer">Carer</option>
                        <option value="Senior Carer">Senior Carer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Notes</th>
                <td><textarea formControlName="notes" class="form-control"></textarea></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ jobDetails.status }}</td>
            </tr>
            <tr>
                <th class="green-cell white-color">General Guidance</th>
                <td class="green-cell"></td>
            </tr>
            <tr>
                <th>Floor plan</th>
                <td>
                    <span *ngIf="jobDetails.general_guidance.floor_plan">
                        <a [href]="jobDetails.general_guidance.floor_plan + getTokenParameter()" target="_blank">Floor plan</a>
                    </span>
                    <input type="file"
                           id="file"
                           class="form-control floor-plan"
                           (change)="handleFileInput($event.target.files)">
                    <span class="red">{{ floorPlanError }}</span>
                </td>
            </tr>
            <tr>
                <th>Parking</th>
                <td>
                    <textarea formControlName="parking" class="form-control"
                              [ngClass]="formUtils.handleValidationStateClass(form, 'parking')"></textarea>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'parking', messages) }} </span>
                </td>
            </tr>
            <tr>
                <th>Notes for carers</th>
                <td>
                    <textarea formControlName="notes_for_carers" class="form-control"
                              [ngClass]="formUtils.handleValidationStateClass(form, 'notes_for_carers')"></textarea>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'notes_for_carers', messages) }} </span>
                </td>
            </tr>
            <tr>
                <th>Emergency guidance</th>
                <td>
                    <textarea formControlName="emergency_guidance" class="form-control"
                              [ngClass]="formUtils.handleValidationStateClass(form, 'emergency_guidance')"></textarea>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'emergency_guidance', messages) }} </span>
                </td>
            </tr>
            <tr>
                <th>Report contact</th>
                <td>
                    <textarea formControlName="report_contact" class="form-control"
                              [ngClass]="formUtils.handleValidationStateClass(form, 'report_contact')"></textarea>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'report_contact', messages) }} </span>
                </td>
            </tr>
            <tr>
                <th>Superior contact</th>
                <td>
                    <textarea formControlName="superior_contact" class="form-control"
                              [ngClass]="formUtils.handleValidationStateClass(form, 'superior_contact')"></textarea>
                    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'superior_contact', messages) }} </span>
                </td>
            </tr>
            <tr>
                <th class="green-cell white-color">Preferences</th>
                <td class="green-cell"></td>
            </tr>
            <tr>
                <th>Gender preference</th>
                <td>
                    <select formControlName="gender_preference" class="form-control">
                        <option value="No preference">No preference</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Manual booking</th>
                <td>
                    <select formControlName="manual_booking" class="form-control">
                        <option value="false">Disabled</option>
                        <option value="true">Enabled</option>
                    </select>
                </td>
            </tr>

            <!--summary sheet-->
            <tr>
                <th class="green-cell white-color">Summary sheet</th>
                <td class="green-cell"></td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>
                    {{ jobDetails?.summary_sheet?.start_date | timestamp }}, {{ jobDetails?.summary_sheet?.start_date | timestampHour }}
                    <!--<input *ngIf="jobDetails?.summary_sheet" formControlName="summary_sheet_start_date" placeholder="yyyy-mm-dd" type="text"-->
                    <!--[ngClass]="formUtils.handleValidationStateClass(form, 'summary_sheet_start_date')"-->
                    <!--class="form-control">-->
                    <!--<span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'summary_sheet_start_date', messages) }} </span>-->
                </td>
            </tr>
            <tr>
                <th>End date</th>
                <td>
                    {{ jobDetails?.summary_sheet?.end_date | timestamp }}, {{ jobDetails?.summary_sheet?.end_date | timestampHour }}
                    <!--<input *ngIf="jobDetails?.summary_sheet" formControlName="summary_sheet_end_date" placeholder="yyyy-mm-dd" type="text"-->
                    <!--[ngClass]="formUtils.handleValidationStateClass(form, 'summary_sheet_end_date')"-->
                    <!--class="form-control">-->
                    <!--<span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'summary_sheet_end_date', messages) }} </span>-->
                </td>
            </tr>
            <tr>
                <th>Voluntary deduction</th>
                <td>
                    {{ jobDetails?.summary_sheet?.voluntary_deduction }}
                    <!--<input *ngIf="jobDetails?.summary_sheet" formControlName="voluntary_deduction" type="number" class="form-control"-->
                    <!--[ngClass]="formUtils.handleValidationStateClass(form, 'voluntary_deduction')">-->
                    <!--<span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'voluntary_deduction', messages) }} </span>-->
                </td>
            </tr>

            <!--challenge-->
            <ng-template [ngIf]="jobDetails?.challenge">
                <tr>
                    <th class="green-cell white-color">Challenge</th>
                    <td class="green-cell"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ jobDetails?.challenge.status | status | capitalize }}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>{{ jobDetails?.challenge.description }}</td>
                </tr>
                <tr>
                    <th>Admin response </th>
                    <td>{{ jobDetails?.challenge.response || "No response so far" }}</td>
                </tr>
                <tr>
                    <th>Challenge date</th>
                    <td>{{ jobDetails?.challenge.created | datePattern: "YYYY-MM-DD, h:mm A" }}</td>
                </tr>
            </ng-template>
        </table>
        <br>
        <button (click)="onUpdateJob()" [disabled]="jobDetails?.status === 'CANCELLED'" class="btn btn-success">Edit job</button>
    </div>
</div>
<br>

<app-cancel-job
        *ngIf="showCancelJobDialog"
        type="cancel_job"
        [title]="'Cancel job'"
        [jobId]="jobId"
        [waiveCharges]="waiveCharges"
        (reload)="onReload()"
        (closed)="showCancelJobDialog = false"
>
</app-cancel-job>

<app-resolve-challenge
        *ngIf="showResolveChallengeDialog"
        [title]="'Decide on challenged job'"
        type="resolve_challenge"
        [jobId]="jobId"
        (closed)="showResolveChallengeDialog = false"
        (reload)="onReload()"
></app-resolve-challenge>

<app-see-review
        *ngIf="seeReviewDialog"
        type="see-review"
        [review]="jobDetails.review"
        [jobId]="jobDetails._id"
        (closed)="seeReviewDialog = false"
>
</app-see-review>
