.right {
  float: right;
}

.left {
  float: left;
}

.padding-right5 {
  padding-right: 5px
}

.padding-left5 {
  padding-left: 5px
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.red {
  color: red;
}

textarea {
  resize: none;
}

.red-bg {
  background-color: red;
  color: white;
}

.green {
  color: $green-color;
}

.books-list {
  list-style-type: none;
  padding: 0;
  li {
    border-bottom: 1px solid #d3d3d3;
    height: 35px;
    padding: 6px;
    a {
      color: black;
    }
  }
}

.inp {
  margin-top: 3px;
}

// job details
.details-actions {
  button{
    width: 48%;
  }

  .margin-r {
    margin-right: 2%;
  }

}