.right {
  float: right;
}

.left {
  float: left;
}

.padding-right5 {
  padding-right: 5px
}

.padding-left5 {
  padding-left: 5px
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.red {
  color: red;
}

textarea {
  resize: none;
}

.btn-nav {
  width: 120px;
  margin-top: -50px;
}