<div (click)="$event.stopPropagation()" class="calendar-popup" [ngClass]="{'to-left': direction === 'left', 'to-right': direction === 'right'}">
    <div class="header text text-center">
        <span>New job</span>
        <span (click)="onClosePopup(); $event.stopPropagation()" class="exit">X</span>
    </div>
    <div class="popup-content">
        <p class="popup-error">{{ error }}</p>

        <!-- form -->
        <div [formGroup]="form">

            <!-- start date -->
            <label class="small-label">Start date</label>
            <select formControlName="start_date" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'start_date')">
                <option *ngFor="let day of startDays" [value]="day | datePattern: 'YYYY-MM-DD'">{{ day | datePattern: "MMM DD, YYYY" }}</option>
            </select>
            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'start_date', messages) }} </span>

            <!-- times -->
            <div class="inline-input padding-right5">
                <label class="small-label">From</label>
                <select formControlName="from" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'from')">
                    <option *ngFor="let startHour of startIntervals" [value]="startHour">{{ startHour | datePattern: "h:mm A" }}</option>
                </select>
                <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'from', messages) }} </span>
            </div>

            <div class="inline-input padding-left5">
                <label class="small-label">Till</label>
                <select formControlName="till" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'till')">
                    <option *ngFor="let endHour of endIntervals" [value]="endHour">{{ endHour | datePattern: "h:mm A" }}</option>
                </select>
                <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'till', messages) }} </span>
            </div>


            <!-- role -->
            <div class="inline-input padding-right5">
                <label class="small-label">Role</label>
                <select formControlName="role" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'role')">
                    <option value="Carer">Carer</option>
                    <!--<option value="Senior Carer">Senior carer</option>-->
                </select>
                <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'role', messages) }} </span>
            </div>

            <!-- amount -->
            <div class="inline-input padding-left5">
                <label class="small-label">Number</label>
                <input formControlName="amount" class="form-control" type="number" min="1" max="5" [ngClass]="formUtils.handleValidationStateClass(form, 'amount')">
                <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'amount', messages) }} </span>
            </div>
        </div>
        <br>
        <button (click)="onAddBooking(); $event.stopPropagation()" type="button" class="btn btn-success btn-popup" [disabled]="!form.valid">Add job</button>
    </div>
</div>
