@import "variables";
@import "placeholders";

.form-control
{
    text-align: left;
}
.address-preview
{
    width: 100%;
    margin: 2px 0 0;
    border: none;
    font-size: 14px;
    background: $white-color;
}
.custom-control
{
    display: inline-block;
}

.btn-secondary
{
    max-width: 120px;
}
.btn-success
{
    max-width: 350px;
}
label
{
    font-size: 18px;
    font-weight: 500;
}
.custom-control label
{
    font-weight: normal;
}
