<div class="row">
    <div class="col-12">
        <app-stepper [steps]="steps"></app-stepper>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="formUtils.handleValidationStateClass(form, 'email')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'email', messages) }} </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone number" formControlName="phone_number" [ngClass]="formUtils.handleValidationStateClass(form, 'phone_number')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'phone_number', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name (as it appears on your passport)" formControlName="first_name" [ngClass]="formUtils.handleValidationStateClass(form, 'first_name')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'first_name', messages) }} </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Middle names (as it appears on your passport)" formControlName="middle_name" [ngClass]="formUtils.handleValidationStateClass(form, 'middle_name')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'middle_name', messages) }} </span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Surname (as it appears on your passport)" formControlName="surname" [ngClass]="formUtils.handleValidationStateClass(form, 'surname')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'surname', messages) }} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your postcode" id="postcode" name="postcode">
                        <span (click)="toggleAddress()" class="address-toggler">Enter address manually</span>
                        <input type="text" class="address-preview" id="address" name="address" readonly disabled>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Date of birth dd/mm/yyyy" >
                    </div>
                </div>
            </div>
            <div class="row" [ngClass]="{'d-none': !addressVisible }">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Company" id="company" name="company">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address line 1" id="line_one" name="line_one">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address line 2" id="line_two" name="line_two">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Town / City" id="city" name="city">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!--<div class="custom-control custom-radio">-->
    <!--<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">-->
    <!--<label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>-->
<!--</div>-->
<!--<div class="custom-control custom-radio">-->
    <!--<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">-->
    <!--<label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>-->
<!--</div>-->
